body {
    .navbar-brand > img {
        height: 60px;
        margin-top: -25px;
    }

    .tagline {
        text-align: center;
    }

    .fb-like {
        float: right;
    }

    .spacer {
        padding-left: 10px;
        padding-right: 10px;
    }

    .sponsor-image {
        height: 100px;
    }

    .panel .panel-title {
        font-size: 16px;
    }

    .jumbotron-image {
        width: 100%;
    }
}