<div class="container">
    <div style="float:left;"><img style="margin:20px;" src="http://www.romanianamericanheritage.us/uploads/1/0/7/8/107824159/logo_orig.png" alt="The Honorary Consulate of Romania in Seattle" /></div>
    <h2>The Honorary Consulate of Romania in Seattle</h2>
    <p><a ui-sref="consulate_ro"> Apăsați aici pentru versiunea în limba română</a></p>
    <p></p>
    <div>
        <p>As an Honorary Consulate we are working to support the local Romanian community and the strengthening of relations of Romania with local Washington State officials. We are doing all this work on a voluntary basis, we are not employees of the Romanian government and we do not receive any financial support from Romania.</p>
        <p>As a result, there are legal limits to the Consular work we can do. Please note:</p>
        <ul>
            <li><strong>We cannot legally issue any documents.</strong> We cannot legally process any requests for passports, birth certificates, citizenship, visa, etc. We do not have the legal authority to do so.</li>
            <li><strong>We are neither qualified, nor can legally provide any consular advice.</strong>We do not know what documentation is necessary for various administrative issues, such as power of attorney, legal statements and alike.</li>
        </ul>
        <p>If you need such Consular advice, please reach out to the <a target="_blank" href="http://losangeles.mae.ro/">General Consulate of Romania in Los Angeles</a>, as that is the entity legally recognized by the Romanian and US Governments to provide such advice. Thank you for your understanding.</p>
        <p>The Honorary Consulate work focuses mostly on civic, cultural, community, business and institutional relations.</p>
        <p>We are more than happy to provide you information about local cultural events, support Romanian government official visits, answer general questions and provide guidance about the local community as well as contacts from Washington State governmental and business entities to officials in the Romanian government. We strive to do this in an objective way, but please note, we do this on a voluntary basis.</p>

        <div>
            <span>For inquiries regarding contact with the local Romanian community, please reach out to:</span> <br />
            <span style="padding-left:30px;"><strong>Honorary Vice-Consul Alexandrina Măicăneanu</strong><br /></span>
            <span style="padding-left:30px;">Email: <a href="mailto:vice.consul@arcsproject.org">vice.consul@arcsproject.org</a><br /></span>
            <span style="padding-left:30px;">Phone: 425-753-8935 - Please do not call about consular advice.<br /></span>
        </div>
        <p></p>
        <div>
            <span>For inquiries on institutional and business relationships, please reach out to:</span> <br />
            <span style="padding-left:30px;"><strong>Honorary Consul Iulian Calinov</strong><br /></span>
            <span style="padding-left:30px;">Email: <a href="mailto:consul@arcsproject.org">consul@arcsproject.org</a><br /></span>
            <span style="padding-left:30px;">Phone: 425-891-5369 - Please do not call about consular advice, we cannot legally help.<br /></span>
        </div>
    </div>
</div>
{{TrackOutboundRequests()}}