<div class="container">
    <div style="float:left;"><img style="margin:20px;" src="http://www.romanianamericanheritage.us/uploads/1/0/7/8/107824159/logo_orig.png" alt="Consulatul Onorific al României în Seattle" /></div>
    <h2>Consulatul Onorific al României în Seattle</h2>
    <p><a ui-sref="consulate_en">Click here for the English version</a></p>
    <p></p>
    <div>
        <p>Consulatul Onorific are misiunea de a menține legătura cu comunitatea românească din zona Seattle și de a întări relațiile instituționale cu România ale autorităților și mediului de afaceri din statul Washington. Activitatea noastră este voluntară, nu suntem angajați, nu primim sau pretindem finanțare din partea statului Român.</p>
        <p>Ca urmare, posibilitățile legale de care dispunem sunt foarte limitate în privința serviciilor de natură consulară pe care le putem oferi. Vă rugăm să considerați că:</p>
        <ul>
            <li><strong>Nu avem autoritatea legală să emitem sau să primim documente de nici un fel.</strong> Nu putem procesa cereri pentru pașapoarte, certificate de naștere, cetățenie, vize, etc. Nu suntem mandatați legal pentru astfel de activități.</li>
            <li><strong>Nu avem calificarea necesară și autoritatea legală să furnizăm sfaturi consulare.</strong> Din păcate, nu știm ce fel de documente sunt necesare pentru diverse activități administrative, precum procuri, testamente, etc.</li>
        </ul>
        <p>Pentru astfel de servicii consulare vă rugăm respectuos să vă adresați <a target="_blank" href="http://losangeles.mae.ro/">Consulatului General al României în Los Angeles</a>, ce are autoritatea legală, recunoscută de statul Român și de SUA pentru astfel de activități. Vă mulțumim pentru înțelegere.</p>
        <p>Vă putem răspunde cu plăcere întrebărilor legate de evenimente culturale în comunitate si de asemenea ne ocupăm de relațiile instituționale și de afaceri dintre entități din România și din statul Washington. Facem toate astea cu toata obiectivitatea și echidistanța și toata activitatea noastră este voluntară și neplătită.</p>

        <div>
            <span>Pentru întrebări legate de relația cu comunitatea locală, vă rugăm să contactați:</span> <br />
            <span style="padding-left:30px;"><strong>Vice Consul Onorific Alexandrina Măicăneanu</strong><br /></span>
            <span style="padding-left:30px;">Email: <a href="mailto:vice.consul@arcsproject.org">vice.consul@arcsproject.org</a><br /></span>
            <span style="padding-left:30px;">Telefon: 425-753-9835  - vă rugăm nu sunați pentru documente consulare.<br /></span>
        </div>
        <p></p>
        <div>
            <span>Pentru întrebări legate de relații instituționale sau de business vă rugăm să contactați:</span> <br />
            <span style="padding-left:30px;"><strong>Honorary Consul Iulian Calinov</strong><br /></span>
            <span style="padding-left:30px;">Email: <a href="mailto:consul@arcsproject.org">consul@arcsproject.org</a><br /></span>
            <span style="padding-left:30px;">Telefon: 425-891-5369 - vă rugăm nu sunați pentru documente și sfaturi consulare. Nu avem autoritatea legală pentru asta.<br /></span>
        </div>
    </div>
</div>