<div class="container">
    <h2>Romanian Cultural Festival</h2>
    <div class="row">
        <div class="col-sm-7">
            <p>
                ARCS invites you to a unique event, dedicated to Romania's centennial anniversary,
                celebrating the Great Union of  1918, when the province of Transylvania joined Bessarabia
                and Bukovina to form the Romanian Kingdom.
                Romanians from Washington and Oregon States will commemorate key historical events
                that reshaped Romanian identity, focusing on Queen Marie’s contribution to the outcome of
                World War I and the ensuing period of unequalled cultural effervescence in the region.
                Don’t miss this one-of-a-kind opportunity to explore Romanian identity through space and time,
                connecting two historical periods: the present and The Interbellum (inter-war) years,
                associated with the birth of the modern state of Romania.
            </p>
            <p>
                Visitors will enjoy an all day feast of events, such as the exhibition Romanian Identity,
                Royalty and Architecture and two book launches: the bilingual English/Romanian photo album,
                "The Queen and the Front" (2018) coordinated by Beatrice Todireanu and Anca Mizumschi's essay collection
                "My Suspended Land" (2018).  Folk dance and music performances by local groups and the Romanian
                Folkloric Ensemble Datina from Seattle, with sample traditional Romanian fare and hands-on art
                for children will be offered as well.
            </p>
            <h4>Find out more:</h4>
            <p>
                <a href="http://www.maryhillmuseum.org/romanian-cultural-festival" target="_blank">Maryhill Museum of Art</a>
            </p>
        </div>
        <div class="col-sm-5">
            <iframe style="height: 275px !important;width:100% !important" src="https://player.vimeo.com/video/286118234?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Who?</div>
            <div class="panel-body">
                <p>
                    <b>Augustin Ioan</b>, Marius Marcu Lăpădat, architects and curators of the exhibition Romanian Identity, Royalty and Architecture
                </p>
                <p>
                    <b>Beatrice Todireanu</b>, historian and coordinator of "The Queen and the Front"/"Regina și Frontul" ( Published by the Museum of Romanian Literature, 2017)
                </p>
                <p>
                    <b>Anca Mizumschi</b>, poet and author of "My Suspended Land"/"Tara Mea Suspendată" (Published by Herg Benet, 2018)
                </p>
            </div>
        </div>
        <div class="panel panel-primary">
        <div class="panel-heading">Sponsors and Partners</div>
        <div class="panel-body">
            <p>
                Maryhill Museum of Art <br />
                American Romanian Cultural Society <br />
                The Romanian Cultural Institute in New York <br />
                The Romanian Folkloric Ensemble Datina from Seattle <br />
                The Northwest Romanian Community <br />
                The Romanian American Society <br />
                Cultural Romania Association
            </p>
        </div>
    </div>
    </div>
    <div class="col-sm-6">


        <div class="panel panel-primary">
            <div class="panel-heading">When?</div>
            <div class="panel-body">
                <p>
                    September 22 @Maryhill Museum of Art, 10 a.m- 5 p.m
                </p>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">Where?</div>
            <div class="panel-body">
                <div class="row map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2787.673133783443!2d-120.86696464918747!3d45.67746182710683!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x549627fc553924c9%3A0xb881dc90af6e15a5!2sMaryhill+Museum+of+Art!5e0!3m2!1sro!2sus!4v1531449528469" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>

    </div>
</div>
{{TrackOutboundRequests()}}