<div class="container">
    <h2>Support Us</h2>
    <div class="row">
        <div class="col-sm-12">
            <p>ARCS is a community building effort that relies heavily on the commitment of its volunteers. The members of our Board of Directors all serve on a volunteer basis. All of our events are planned, organized, and promoted by volunteers.</p>
            <p>
                <b>Please support our efforts by donating. No amount is too small! Remember to inquire about matching plans with your employer. Thank you!</b>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="purpose">Purpose:</label>
                <div class="list-group">
                    <button ng-repeat="purpose in purposes" ng-click="setSelectedPurpose($event, purpose)" ng-class="{'active': selectedPurpose == purpose}" class="list-group-item">{{purpose}}</button>
                </div>
            </div>
            <ng-include src="GetUrlWithVersion('Views/pie-chart.html')" ng-init="targetDonation='film2018';chartWidth='75%';" ng-if="selectedPurpose == 'Romanian Film Festival'"></ng-include>
            <p>
                Check out the <a ui-sref="film-festival">Film Festival</a> page to see donors, events, and more!
            </p>
            <p>
                Checks are welcome. Please address them to:<br />
                <span class="address">American Romanian Cultural Society</span><br />
                <span class="address">1931 E Lynn St</span><br />
                <span class="address">Seattle, WA 98112</span><br />
            </p>
        </div>
        <div class="col-sm-8">
            <p style="margin-top:20px;">Donating is easy and secure through our website, choose your desired level of donation and click on the <b>Donate</b> button:</p>
            <ng-include src="GetUrlWithVersion('Views/film-fest-donate.html')" ng-init="expanded=true" ng-if="selectedPurpose == 'Romanian Film Festival'"></ng-include>
            <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post" ng-if="selectedPurpose != 'Romanian Film Festival'">
                <input type="hidden" name="item_name" value="{{selectedPurpose}}" />
                <input type="hidden" name="amount" value="{{getSelectedAmount()}}" />
                <input type="hidden" name="cmd" value="{{recurring ? '_xclick-subscriptions' : '_donations'}}">
                <input type="hidden" name="business" value="otilia.baraboi@arcsproject.org">
                <input type="hidden" name="no_note" ng-if="recurring" value="1" />
                <input type="hidden" name="a3" ng-if="recurring" value="{{getSelectedAmount()}}" />
                <input type="hidden" name="t3" ng-if="recurring" value="M" />
                <input type="hidden" name="p3" ng-if="recurring" value="1" />
                <input type="hidden" name="src" ng-if="recurring" value="1" />
                <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                <div class="form-group">
                    <label for="purpose">Amount:</label>
                    <div class="list-group">
                        <button ng-repeat="amount in amounts" ng-click="setSelectedAmount($event, amount)" ng-class="{'active': selectedAmount == amount}" class="list-group-item">{{amount == "Custom amount" ? amount : "$" + amount}}</button>
                    </div>
                </div>
                <div class="checkbox" ng-show="showRecurringCheckbox()">
                    <label><input type="checkbox" ng-model="recurring">Please check this box if you'd like to make this a recurring monthly donation.</label>
                </div>
                <div class="form-group">
                    <input type="submit" alt="" class="btn btn-primary" value="Donate (PayPal)" />
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p>
                <a href="mailto:contact@arcsproject.org?subject=Mailing%20List">Email us</a> if you would like to get involved in any way:
                <ul>
                    <li>Suggest a future ARCS event</li>
                    <li>Contribute your ideas to the planning of a future event</li>
                    <li>Participate in the organization of a current event</li>
                    <li>Volunteer (many companies might remunerate the work you do for ARCS)</li>
                </ul>
            </p>
        </div>
        <div class="col-sm-6">
            <p>
                You can also:
                <ul>
                    <li>Spread the word about the <a ui-sref="film-festival">Romanian Film Festival</a></li>
                    <li>Like us on <a href="https://www.facebook.com/ARCSPROJECT/" target="_blank">Facebook</a></li>
                </ul>
            </p>
        </div>
    </div>
</div>