<div class="container">
    <h2>The Center of Excellence ROACT and Romanian in High School Programs (ages 7-16)</h2>
    <div class="row">
        <div class="col-sm-7">

            <p>
                Are you interested in stimulating your children's creativity, nourish their bilingual background
                and improve their chances for admission into the best universities in the US?
            </p>
            <p>
                The Center of Excellence ROMANIAN IN ACTION (ROACT) offers innovative, interactive classes
                and workshops for children and youth with Romanian background. Regardless of your child's
                knowledge of Romanian, we use immersion language pedagogies and adjust our instructional
                strategies to their particular learning needs and potential. Our courses lay the foundation for
                <strong>The Romanian in High School</strong> Program and the ALTA Exam Preparation Course that will help
                students earn high school credits for their heritage language, and ensure their admission to
                highly-ranked universities in the US.
            </p>

            <p>
                The Center of Excellence operates weekly, on <strong>Saturdays</strong>, except for legal and academic
                holidays. All programs follow the structure of the Seattle public school year with 2 semesters.
                Classes take place at the <strong>French Immersion School</strong> (ages 7-13) or on the <strong>
                    University of
                    Washington Campus
                </strong> (ages 14-16).
            </p>
            <p>
                Reserve a spot and register your child <strong>TODAY</strong>. We need your input in order to form the groups
                that best fit to your children's needs.
            </p>
            <p><a href="https://forms.gle/FjqHnhp73K699J9R9" target="_blank" class="btn btn-info">Register for The Center of Excellence Program (ages 7-13)</a></p>
            <p>
                For the Romanian in High School Program, there will be an evaluation on <strong>September 21st</strong>, from
                10:00 AM, on the University of Washington Campus, Communications Building, second floor,
                room 226. Please register before coming to the evaluation.
            </p>
            <p><a href="https://forms.gle/Q8RrToJXA3q7cMH37" target="_blank" class="btn btn-info">Register for The Romanian in High School Program (ages 14-16)</a></p>
            <p>
                Scroll down for more details about each program tuition, location, dates and instructors
            </p>
        </div>
        <div class="col-sm-5">
            <p><iframe class="embedded-video" src="https://player.vimeo.com/video/321597822?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">What?</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-9">
                            <h3 id="creative-workshop"><strong>Club Piticot</strong> (ages 5-9)</h3>
                            <p><strong>Instructor:</strong> <a href="#elizabeta-iliescu">Elizabeta Iliescu</a> and <a href="#otilia-baraboi">Otilia Baraboi</a></p>
                            <p><strong>Nov 2, Dec 22, Feb 29, Apr 11, May 30 @ 3:30- 5:30 pm, location TBA</strong></p>
                            <p>
                                The program supports children in developing communication skills in Romanian and provides a
                                community of friends with a similar cultural heritage. The sessions will explore Romanian
                                seasonal traditions (such as Fall and Christmas traditions, Mărțișor, Easter and Children's
                                International Day), through poems, games, arts and crafts.
                            </p>
                        </div>
                        <div class="col-sm-3">
                            <img class="poster rounded" src="../Resources/Images/education/piticot.jpg" alt="Club Piticot" title="Club Piticot" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-9">
                            <h3 id="creative-workshop"><strong>Romanian Stories, Songs and Poems</strong> (ages 7-9)</h3>
                            <p><strong>Instructor:</strong> <a href="#elizabeta-iliescu">Elizabeta Iliescu</a></p>
                            <p><strong>October 12- January 25 @ 10am- 12pm, French Immersion School, Room 1</strong></p>
                            <p>
                                The children will explore Romanian short texts, poems, songs, proverbs, riddles, and games, in
                                order to develop a better understanding of their cultural heritage and seasonal traditions. The
                                course provides a fun engaging opportunity to enrich daily vocabulary, strengthen
                                communication skills, and improve Romanian pronunciation and reading competence.<br />
                                Basic knowledge of Romanian required.
                            </p>
                        </div>
                        <div class="col-sm-3">
                            <img class="poster rounded" src="../Resources/Images/education/songs_and_poems.jpg" alt="Romanian Stories, Songs and Poems" title="Romanian Stories, Songs and Poems" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-9">
                            <h3 id="creative-workshop"><strong>Romanian Language and Culture</strong> (ages 10-13)</h3>
                            <p><strong>Instructor:</strong> <a href="#otilia-baraboi">Otilia Baraboi</a></p>
                            <p><strong>October 12 – January 25 @ 10am- 12pm, French Immersion School, Room 2</strong></p>
                            <p>
                                Through the use of authentic texts and visual materials (literature, music, film) students will
                                learn about Romanian culture, history and traditions. Romanian language and communication
                                skills will be acquired naturally, through interactive activities appropriate for the students' age
                                and interests. Our approach complements the communicative method with a structured format
                                that improves students' pronunciation, reading, writing, daily vocabulary, knowledge of
                                idiomatic expressions, and of basic notions of Romanian grammar. Most of all, this class will
                                help students cultivate appreciation for their heritage and bilingualism. <br />
                                Basic knowledge of Romanian required.
                            </p>
                        </div>
                        <div class="col-sm-3">
                            <img class="poster rounded" src="../Resources/Images/education/centre_of_excellence_img2.jpg" alt="Romanian Language and Culture" title="Romanian Language and Culture" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-9">
                            <h3 id="creative-workshop"><strong>Introduction to Romanian Language</strong> (ages 9-13)</h3>
                            <p><strong>Instructor:</strong> <a href="#elizabeta-iliescu">Elizabeta Iliescu</a> and <a href="#otilia-baraboi">Otilia Baraboi</a></p>
                            <p><strong>October 12- January 25 @ 1-2pm, French Immersion School, Rooms 1 &amp; 2</strong></p>
                            <p>
                                This class is destined to students of Romanian origin, or coming from mixed families, who do
                                not understand, nor speak the language, but who have been exposed to Romanian culture and
                                are curious to find out more about their heritage. They will learn basic conversational skills in
                                Romanian and will improve their pronunciation, vocabulary, writing and reading skills.
                            </p>
                        </div>
                        <div class="col-sm-3">
                            <img class="poster rounded" src="../Resources/Images/education/map.jpg" alt="Introduction to Romanian Language" title="Introduction to Romanian Language" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="read-more btn btn-info" style="color:white" data-toggle="collapse" href="#collapseExcellenceCenterCost" aria-expanded="false" aria-controls="collapseExample">HOW MUCH? (The Center of Excellence ROACT, ages 7-13)</p>
                            <div class="collapse" id="collapseExcellenceCenterCost">
                                <p>
                                    For students between ages 7-13, the full tuition cost for one semester of classes at ROACT
                                    (hosted at the French Immersion School in Bellevue) is <strong>
                                        $480 for 12 sessions of 2 hours
                                        EACH
                                    </strong> (Oct 12 – Jan 25). We do not charge any extra fee for the days when our classes do not
                                    meet. The cost will cover only partially our rent, classroom materials and instructors' salaries.
                                </p>
                                <p>
                                    We strongly believe in heritage language education. In an attempt to become accessible to all
                                    children from our community, we offer competitive tuition prices. Please consider <a ui-sref="donate">
                                        donating to
                                        our school
                                    </a> to help us cover our expenses, develop our programs and offer more scholarships to
                                    those in need. Thank you!
                                </p>
                                <p>
                                    If you need financial aid, please contact <a href="#otilia-baraboi">Otilia Baraboi</a> at <a href="mailto:otilia.baraboi@arcsproject.org">otilia.baraboi@arcsproject.org</a>. We
                                    offer up to 3 scholarships per course, based on a letter of intent explaining your family’s
                                    situation. Thank you!
                                </p>
                                <p><a target="_blank" href="donate" class="btn btn-info">Donate to the Center of Excellence</a></p>
                                <p class="read-more btn btn-info" style="color:white" data-toggle="collapse" href="#collapseExcellenceCenterPayments" aria-expanded="false" aria-controls="collapseExample">Payment Options for Ages 7-13</p>
                                <div class="collapse" id="collapseExcellenceCenterPayments">
                                    <p>
                                        You can either pay the full discounted amount and save $20:
                                    </p>
                                    <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                        <input type="hidden" name="item_name" value="Romanian in Action-Center of Excellence" />
                                        <input type="hidden" name="amount" value="460" />
                                        <input type="hidden" name="cmd" value="_xclick">
                                        <input type="hidden" name="add" value="" />
                                        <input type="hidden" name="business" value="otilia.baraboi@arcsproject.org">
                                        <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                                        <input type="submit" class="btn btn-info" value="First child (discounted total): $ 460 (12 weeks)" /><br /><br />
                                    </form>
                                    <p>
                                        OR choose to pay in 3 installments of $160, by <strong>October 12</strong>, <strong>November 23</strong> and <strong>December 14</strong>.
                                        Just click on "Make Tuition Payments".
                                    </p>
                                    <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                        <input type="hidden" name="item_name" value="Romanian in Action-Center of Excellence" />
                                        <input type="hidden" name="amount" value="0" />
                                        <input type="hidden" name="cmd" value="_xclick">
                                        <input type="hidden" name="add" value="" />
                                        <input type="hidden" name="business" value="otilia.baraboi@arcsproject.org">
                                        <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                                        <input type="submit" class="btn btn-info" value="Make Tuition Payments" /><br /><br />
                                    </form>


                                    <p>
                                        We offer a 25% discount for the second child or <strong>$384</strong> full amount for 12 sessions of 2 hours. You can either pay the full discounted amount and save $20, or choose to pay in 3 installments, on the dates indicated bellow:
                                    </p>
                                    <p>
                                        Payment Options:
                                    </p>
                                    <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                        <input type="hidden" name="item_name" value="Romanian in Action-Center of Excellence" />
                                        <input type="hidden" name="amount" value="384" />
                                        <input type="hidden" name="cmd" value="_xclick">
                                        <input type="hidden" name="add" value="" />
                                        <input type="hidden" name="business" value="otilia.baraboi@arcsproject.org">
                                        <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                                        <input type="submit" class="btn btn-info" value="Second child Discounted Total: $384 (12 weeks)" /><br /><br />
                                    </form>
                                    <p>
                                        OR <br /> 3 payments of $128 by the deadlines mentioned above.
                                    </p>
                                    <p>
                                        You can also register for only <strong>6 sessions of 2 hours EACH</strong> to accommodate your schedule.
                                        You will need to inform the teachers of the exact dates your child will be present in class before classes start, in the registration form.
                                        The cost for this package is <strong>$240 per child, due on October 12</strong>.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <p class="read-more btn btn-info" style="color:white" data-toggle="collapse" href="#collapseExcellenceCenterCalendar" aria-expanded="false" aria-controls="collapseExample">Calendar Romanian in Action Courses (ages 7-13, French Immersion School, various times)</p>
                            <div class="collapse" id="collapseExcellenceCenterCalendar">
                                <p>
                                    Fall Semester:
                                    <ul>
                                        <li>October 12 – January 25</li>
                                    </ul>
                                </p>
                                <p>
                                    Instruction Days:
                                    <ul>
                                        <li>October 12, 19, 26</li>
                                        <li>November 2, 9, 23</li>
                                        <li>December 7, 14, 21</li>
                                        <li>January 11, 18, 25</li>
                                    </ul>
                                </p>
                                <p>
                                    No class:
                                    <ul>
                                        <li>Nov 16 – Romanian Film Festival</li>
                                        <li>Nov 30- Thanksgiving Break</li>
                                        <li>Dec 28, Jan 4 – Christmas/Winter Break</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8 col-md-offset-2" style="padding-top:20px;padding-bottom:30px;">
                            <img style="text-align:center;" class="rounded poster" src="../Resources/Images/excellence_center.jpg" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-9">
                            <h3 id="creative-workshop"><strong>Romanian in High School / "Româna la Liceu"</strong> (ages 14-16)</h3>
                            <p><strong>Instructor:</strong> <a href="#ileana-marin">Ileana Marin</a></p>
                            <p><strong>September 28-May 9 @ UW Campus, Communications Building, second floor, room 226</strong></p>
                            <p>
                                Unique in the US, the program "Româna la Liceu", launched in 2016 with great success. It
                                includes two courses: Intensive Romanian (6 sessions, October - January) and Standard
                                Romanian (14 sessions, September - May).<br />
                                The courses target students of Romanian heritage in an English language context. The teaching
                                combines reading comprehension and grammar with interactive and project-based methods.
                            </p>

                            <p class="read-more btn btn-info" style="color:white" data-toggle="collapse" href="#collapseHighschoolCost" aria-expanded="false" aria-controls="collapseExample">HOW MUCH? (The Romanian in High School Program, ages 14-16)</p>
                            <div class="collapse" id="collapseHighschoolCost">
                                <p>
                                    <ul>
                                        <li>
                                            <p><strong>STANDARD COURSE</strong></p>
                                            <p>
                                                <strong>HOW MUCH</strong>: $840/year
                                            </p>
                                            <p>
                                                <strong>TEXTBOOK</strong>: $50
                                            </p>
                                            <p>
                                                <strong>PaymentOptions:</strong>
                                                <p>
                                                    You can either pay the full discounted amount and save $20 by <strong>September 28</strong>:
                                                </p>
                                                <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                                    <input type="hidden" name="item_name" value="Romanian in High School" />
                                                    <input type="hidden" name="amount" value="820" />
                                                    <input type="hidden" name="cmd" value="_xclick">
                                                    <input type="hidden" name="add" value="" />
                                                    <input type="hidden" name="business" value="otilia.baraboi@arcsproject.org">
                                                    <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                                                    <input type="submit" class="btn btn-info" value="Discounted Total: $ 820" /><br /><br />
                                                </form>
                                                <p>
                                                        OR choose to pay in 3 installments of $280, by <strong>September 28</strong>, <strong>January 25</strong> and <strong>April 25</strong>.
                                                        Just click on "Make Tuition Payments".
                                                </p>
                                                <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                                    <input type="hidden" name="item_name" value="Romanian in High School" />
                                                        <input type="hidden" name="amount" value="0" />
                                                        <input type="hidden" name="cmd" value="_xclick">
                                                        <input type="hidden" name="add" value="" />
                                                        <input type="hidden" name="business" value="otilia.baraboi@arcsproject.org">
                                                        <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                                                        <input type="submit" class="btn btn-info" value="Make Tuition Payments" /><br /><br />
                                                </form>
                                            </p>
                                            <p class="read-more" data-toggle="collapse" href="#collapseHighSchoolStandardCalendar" aria-expanded="false" aria-controls="collapseExample"><strong>Calendar Standard Course (ages 14-16, UW Campus, Communications Building, second floor, room 226 @ 10am-1pm)</strong></p>
                                            <div class="collapse" id="collapseHighSchoolStandardCalendar">
                                                <p>
                                                    <strong>Fall and Spring Semesters</strong>:
                                                    <ul>
                                                        <li>September 28 - May 9</li>
                                                    </ul>
                                                </p>
                                            <p>
                                                <strong>Instruction Days</strong>:
                                                <ul>
                                                    <li>September 28</li>
                                                    <li>October 12</li>
                                                    <li>October 26</li>
                                                    <li>November 16 – Romanian Film Festival</li>
                                                    <li>November 23</li>
                                                    <li>December 14 </li>
                                                    <li>CHRISTMAS BREAK</li>
                                                    <li>January 11</li>
                                                    <li>January 25</li>
                                                    <li>February 8</li>
                                                    <li>February 29</li>
                                                    <li>March 14</li>
                                                    <li>March 28</li>
                                                    <li>April 4</li>
                                                    <li>April 25</li>
                                                    <li>May 9</li>
                                                </ul>
                                            </p>
                                        </div>
                                        </li>
                                        <li>
                                            <p><strong>INTENSIVE ROMANIAN</strong></p>
                                            <p>
                                                <strong>HOW MUCH</strong>: $360/year
                                            </p>
                                            <p>
                                                <strong>TEXTBOOK</strong>: $20
                                            </p>
                                            <p>
                                                <strong>PaymentOptions:</strong>
                                                <p>
                                                    You can either pay the full discounted amount and save $20 by <strong>September 28</strong>:
                                                </p>
                                                <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                                    <input type="hidden" name="item_name" value="Romanian in High School" />
                                                    <input type="hidden" name="amount" value="340" />
                                                    <input type="hidden" name="cmd" value="_xclick">
                                                    <input type="hidden" name="add" value="" />
                                                    <input type="hidden" name="business" value="otilia.baraboi@arcsproject.org">
                                                    <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                                                    <input type="submit" class="btn btn-info" value="Discounted Total: $ 340" /><br /><br />
                                                </form>
                                                <p>
                                                        OR choose to pay in 2 installments of $180, by <strong>September 28</strong>, <strong>January 25</strong>.
                                                        Just click on "Make Tuition Payments".
                                                </p>
                                                <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                                    <input type="hidden" name="item_name" value="Romanian in High School" />
                                                        <input type="hidden" name="amount" value="0" />
                                                        <input type="hidden" name="cmd" value="_xclick">
                                                        <input type="hidden" name="add" value="" />
                                                        <input type="hidden" name="business" value="otilia.baraboi@arcsproject.org">
                                                        <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                                                        <input type="submit" class="btn btn-info" value="Make Tuition Payments" /><br /><br />
                                                </form>
                                            </p>
                                            <p class="read-more" data-toggle="collapse" href="#collapseHighSchoolIntensiveCalendar" aria-expanded="false" aria-controls="collapseExample"><strong>Calendar Intensive Course (ages 14-16, UW Campus, Communications Building, second floor, room 226 @ 10am-1pm)</strong></p>
                                            <div class="collapse" id="collapseHighSchoolIntensiveCalendar">
                                             <strong>Instruction Days</strong>:
                                             <ul>
                                                 <li>October 5</li>
                                                 <li>October 19</li>
                                                 <li>November 2</li>
                                                 <li>November 16 – Romanian Film Festival</li>
                                                 <li>December 7 </li>
                                                 <li>CHRISTMAS BREAK</li>
                                                 <li>January 11</li>
                                                 <li>January 25</li>
                                             </ul>
                                            </p>
                                        </div>
                                        </li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="poster rounded" src="../Resources/Images/education/highschool1.jpg" alt="Romanian in High School / 'Româna la Liceu'" title="Romanian in High School / 'Româna la Liceu'" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Instructors</div>
                <div class="panel-body">
                    <div class="row" id="otilia-baraboi">
                        <div class="col-sm-3">
                            <img class="media-object img-portrait" src="../Resources/Images/excellence/Otilia_Baraboi.jpg" alt="Image of Otilia Baraboi">
                        </div>
                        <div class="col-sm-9">
                            <h4 class="media-heading ng-binding">Otilia Baraboi</h4>
                            <h5><a href="mailto:otilia.baraboi@arcsproject.org">otilia.baraboi@arcsproject.org</a></h5>
                            <p>
                                Otilia Baraboi is a higher education professional who has been teaching French language and literature at the University of Washington for the past 17 years. She emigrated to the US in 2000 after having obtained a BA with a double specialization in French
                                and English languages and literatures from the Al.I. Cuza University in Iasi. She also holds a Master's degree (DEA) from the University of Geneva and a Ph.D. in French Literature from the University of Washington. Before coming
                                to the US, Otilia worked as a literary journalist, published short-fiction and translations, and was actively involved in the cultural life of her hometown, Iasi. For Otilia, becoming part of the pioneer projects "Româna la Liceu"
                                and the Center of Excellence ROMANIAN IN ACTION represents a long-awaited opportunity to invest in the future of the Romanian American community and, on a more personal level, to have a positive impact on the ways in which her
                                own two boys define and pass on their rich cultural and linguistic heritage.
                            </p>
                        </div>
                    </div>
                    <div class="row" id="elizabeta-iliescu">
                        <div class="col-sm-3">
                            <img class="media-object img-portrait" src="../Resources/Images/ElizabetaIliescu.jpg" alt="Image of Elizabeta Iliescu">
                        </div>
                        <div class="col-sm-9">
                            <h4 class="media-heading ng-binding">Elizabeta Iliescu</h4>
                            <h5><a href="mailto:elizabeta.iliescu@arcsproject.org">elizabeta.iliescu@arcsproject.org</a></h5>
                            <p>
                                Elizabeta Iliescu was born in Northern Romania where she grew up very attached to her grandparents. After high school, she moved to Bucharest where she studied physics and worked for an insurance company. She moved to the US with her family in 2008. The
                                love of being around children made her look for opportunities to work with them After earning an AAS-T Certificate in early Childhood Careers, she volunteered and worked in various early childhood education programs. Elizabeta
                                is currently working with Bellevue School District in Early Learning Programs and volunteering for the ARCS Piticot program. She is also collaborating with Lakehills Library for the program Romanian Story Times / Poveşti româneşti.
                            </p>
                        </div>
                    </div>
                    <div class="row" id="ileana-marin">
                        <div class="col-sm-3">
                            <img class="media-object img-portrait" src="../Resources/Images/IleanaMarin.jpg" alt="Image of Ileana Marin">
                        </div>
                        <div class="col-sm-9">
                            <h4 class="media-heading ng-binding">Ileana Marin</h4>
                            <h5><a href="mailto:ileana.marin@arcsproject.org">ileana.marin@arcsproject.org</a></h5>
                            <p>
                                Ileana Marin teaches interdisciplinary courses at the University of Washington in Seattle and at the Center of Excellence in Image Studies at the University of Bucharest.
                                Her long-standing academic career on both sides of the ocean has given her the opportunity to establish contacts between Romanian and American scholars, artists, and institutions.
                                She, thus, initiated the first UW Exploration Seminar to Romania, and to Eastern Europe, and opened the fund for Romanian Studies, hoping that Romanian language will be taught regularly in Seattle.
                                With a BA in Romanian and a Ph.D. in Comparative Literature from the University of Bucharest (2000), and one in Textual Studies from the UW (2011), Ileana is a strong believer in the power of education and bilingualism.
                                In ARCS, she advocates the expansion of the Romanian language programs in the US and for disseminating the most recent Romanian cultural achievements.
                                On her agenda as president, Ileana Marin has two major tasks: board development and recruitment to ensure the successful implementation of ARCS mission through meaningful programs.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Volunteer Opportunities</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <p>We need volunteers to help us coordinate our school activities during class time and in-between classes. Please consider becoming a volunteer and help us grow our programs.</p>
                            <p>
                                We need volunteers for the following activities:
                                <ul>
                                    <li>Help with the sign-in and sign-out sheets</li>
                                    <li>Supervise the students during the breaks</li>
                                    <li>Help out during class time</li>
                                    <li>Help out setting up and cleaning up the facility</li>
                                    <li>Bring snacks</li>
                                </ul>
                            </p>
                            <p>We also need help organizing a June 1st celebration for our students.</p>
                            <p>You can email <a href="mailto:otilia.baraboi@arcsproject.org">Otilia Baraboi at otilia.baraboi@arcsproject.org</a> if you have specific questions or register online if you would like to volunteer.</p>
                            <p><a href="https://goo.gl/forms/vexUfpg6NxqH2hfB2" target="_blank" class="btn btn-info">Registration Form- Volunteer Opportunities</a></p>
                        </div>
                        <div class="col-sm-6">
                            <img class="poster rounded" src="../Resources/Images/excellence/volunteering.jpg" alt="Volunteer Opportunities" title="Volunteer Opportunities" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">ARCS Partners</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p style="position:relative;height:230px;">
                                <img src="../Resources/Images/excellence/uw.png" alt="Ellison Center for Russian, East European & Central Asia Studies" class="sponsor-image-new">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <em>
            Copyright Notice. All content on this program presentation is the exclusive property of ARCS and is protected by USA and international copyright laws. The use, distribution, reproduction or modification of this presentation without ARCS written permission is strictly prohibited.
        </em>
    </div>
    {{TrackOutboundRequests()}}
