<div class="container">
    <h2>THE CENTER OF EXCELLENCE</h2>
    <div class="row">
        <div class="col-sm-7">

            <p>
                Are you interested in stimulating your child’s creativity by nourishing her/his bicultural and bilingual background?
            </p>
            <p>
                Start planning for your children's future now and prepare their path for academic excellence!
                Our students will ultimately learn how to distinguish themselves in the competitive world of college admissions by showing that they value their bilingual and bicultural background.
                It is never too early to plant the seeds for career and life success based on an authentic appreciation of Romanian cultural heritage!
            </p>
            <p>Reserve a spot and register your child <strong>TODAY</strong>:</p>
            <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSeCwFLKy-aWwVSBnsIL5qOhpLD_a2uM2TauWPhdcGaHS8O-_g/viewform" target="_blank" class="btn btn-info">Registration Form - Regular Morning Classes</a></p>
            <p><a href="https://goo.gl/forms/NO6q7xPHwWZorklS2" target="_blank" class="btn btn-info">Registration Form - Romanian Songs Afternoon Class</a></p>
            <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSd85LmTSXGBoHhvQUeMOOQIRdwJZYKjF2tjv3PJOMUGt5T3yA/viewform" target="_blank" class="btn btn-info">Registration Form - Cross-media Workshop</a></p>
        </div>
        <div class="col-sm-5">
            <img class="poster rounded" src="../Resources/Images/centre_of_excellence_img2.jpg">
            <br>
            <em class="pull-right">Photo credit: Dan Antoche-Albisor</em>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">What?</div>
                <div class="panel-body">
                    <p>
                        The Center of Excellence ROMANIAN IN ACTION offers innovative, interactive classes and workshops for children and youth with Romanian background.
                        Regardless of your child’s knowledge of Romanian, we use immersion language pedagogies and adjust our instructional strategies to their particular
                        learning needs and potential.
                    </p>
                    <p>
                        The project-base workshops are as follows:
                    </p>
                    <div class="row">
                        <div class="col-sm-9">
                            <h3 id="creative-workshop"><strong>Romanian Fairy Tales</strong> (5-7 years)</h3>
                            <p><strong>Instructor:</strong> <a href="#elizabeta-iliescu">Elizabeta Iliescu</a></p>
                            <p><strong>March 9 - June 15  @ 10am- 12pm, French Immersion School, Room 1</strong></p>
                            <p>
                                The second semester starts from the premise that every single child is an artist and storyteller!
                                The children will study three Romanian Fairy Tales (<i>Sarea în Bucate</i>, <i>Ileana Cosânzeana</i> and <i>Prâslea cel Voinic și Merele de Aur</i>),
                                together with poems, songs, proverbs, riddles, and games, in order to develop a better understanding of their cultural heritage, enrich their vocabulary,
                                and strengthen their communication skills.
                            </p>
                            <p class="read-more" data-toggle="collapse" href="#collapseFairyTales" aria-expanded="false" aria-controls="collapseExample">Read more...</p>
                            <div class="collapse" id="collapseFairyTales">
                                <p>
                                    Building on the innate talent of every child, this class will use painting, modeling, collages, fables and personal stories to teach
                                    students about the heroes of the most beloved Romanian fairy tales.
                                    Each story will serve as an inspiration for the creation of their own characters, scenarios and stories, adapted to their everyday life and culture.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="poster rounded" src="../Resources/Images/excellence/povesti.jpg" alt="Romanian Fairy Tales" title="Romanian Fairy Tales" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-9">
                            <h3 id="around-the-world"><strong>Around the World</strong> (8-13 years)</h3>
                            <p><strong>Instructor:</strong> <a href="#otilia-baraboi">Otilia Baraboi</a></p>
                            <p><strong>March 9 - June 15  @ 10am- 12pm, French Immersion School, Room 2</strong></p>
                            <p>
                                The second semester will focus on the virtual exploration of three continents: South America, Asia and Europe.
                                Students will choose their destinations and countries depending on their interests.
                                Our objective is to teach the students how to navigate cultural differences and broaden their knowledge of the world, through the lens of their Romanian heritage and language.
                            </p>
                            <p class="read-more" data-toggle="collapse" href="#collapseAroundTheWorld" aria-expanded="false" aria-controls="collapseExample">Read more...</p>
                            <div class="collapse" id="collapseAroundTheWorld">
                                <p>
                                    Through the use of authentic, interactive contexts and techniques, students will learn more about Romania and world geography, nature, environment, and cultures.
                                    They will produce artifacts depicting each step of their journey around the world and will compile a portfolio of postcards, letters, diary entries, photo-albums, maps, etc.
                                    Romanian language and communication skills will be acquired naturally, through interactive activities, and in a structured format through age-appropriate texts that will include vocabulary, idiomatic expressions, and useful aspects of grammar.
                                    Sensorial learning, such as music, dance, and even food will enrich their discovery adventure.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="poster rounded" src="../Resources/Images/excellence/around_the_world.jpg" alt="Around the World" title="Around the World" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-9">
                            <h3 id="secret-society"><strong>The Secret Society of Romanian Storytellers - Cross-media Workshop</strong> (12-17 years)</h3>
                            <p><strong>Instructor:</strong> <a href="#adriana-guiman">Adriana Guiman</a></p>
                            <p><strong>March 16, 30 @ 10am-3pm, University of Washington, COM 228</strong></p>
                            <p>
                                The Secret Society of Romanian Storytellers is a creative environment in which students  are encouraged to explore their Romanian identity through
                                storytelling as a space where they can build friendships and cultural bridges. Stories of Romanian objects, of their family or of an imaginary
                                visit to Romania can be shaped in a multi-platform experience using immersive technologies, such as virtual and augmented reality.
                            </p>
                            <p class="read-more" data-toggle="collapse" href="#collapseSecretSociety" aria-expanded="false" aria-controls="collapseExample">Read more...</p>
                            <div class="collapse" id="collapseSecretSociety">
                                <p>
                                    This first workshop is a two-session learning experience (with a week break between them).
                                    In the first session, the students will get hands-on how to prototype a cardboard game, how to produce audio and video content, 360° video, and will learn
                                    the basic steps for creating a VR and AR experience.These will serve as models for creating their own project prototypes.
                                    They will also learn how to approach a story from a multi-platform perspective, and why this approach is important.
                                    During the break, students will come up with ideas for their own projects and receive support for producing them through online tutoring.
                                    <br />
                                    The second session of the workshop will be built around their own projects, working on editing and combining all the elements into a final multi-platform production plan.
                                    We will work towards having at least two prototypes produced per project at the end of the two sessions.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img class="poster rounded" src="../Resources/Images/excellence/secret_society.jpg" alt="The Secret Society of Romanian Storytellers - Cross-media Workshop" title="The Secret Society of Romanian Storytellers - Cross-media Workshop" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-9">
                            <h3 id="songs-and-poems"><strong>Romanian Songs and Poems</strong> (5-13 years)</h3>
                            <p><strong>Instructor:</strong> <a href="#otilia-baraboi">Otilia Baraboi</a></p>
                            <p><strong> April 27 - June 15  @ 12:30 pm- 2pm, French Immersion School, Room 2</strong></p>
                            <p>
                                This 90-minute workshop is mainly designed for the students already registered in our morning classes at the French Immersion School.
                                It gracefully complements our programs by providing a fun engaging opportunity to improve their Romanian pronunciation,
                                vocabulary and communication skills, through music and poetry.
                            </p>
                        </div>
                        <div class="col-sm-3">
                            <img class="poster rounded" src="../Resources/Images/excellence/songs_and_poems.jpg" alt="Romanian Songs and Poems" title="Romanian Songs and Poems" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-primary" id="cost">
                <div class="panel-heading">How much?</div>
                <div class="panel-body">
                    <p>
                        The full tuition cost for one semester of classes at ROACT is <strong>$480 for 12 sessions of 2 hours EACH</strong> (March 9 - June 15). We do not charge any extra fee for the days when
                        our classes do not meet. The cost will cover only partially our rent, classroom materials and instructors' salaries.
                    </p>
                    <p>
                        We strongly believe in heritage language education.
                        In an attempt to become accessible to all children from our community, we lowered our tuition costs this semester.
                        Please consider <a target="_blank" href="donate">donating to our school</a> to help us cover our expenses, develop our programs and offer more scholarships to those in need. Thank you!
                    </p>
                    <p>
                        If you need financial aid, please contact <a href="mailto:otilia.baraboi@arcsproject.org"><strong>Otilia Baraboi</strong> at otilia.baraboi@arcsproject.org</a>.  We offer <strong>3 scholarships</strong> based on a letter of intent explaining your family’s situation. Thank you!
                    </p>
                    <p><a target="_blank" href="donate" class="btn btn-info">Donate to the Center of Excellence</a></p>
                    <p class="read-more btn btn-info" style="color:white;" data-toggle="collapse" href="#paymentOptions" aria-expanded="false" aria-controls="collapseExample">Payment Options...</p>
                    <div class="collapse" id="paymentOptions">
                        <p>
                            You can either pay the full discounted amount and save $20:
                        </p>
                        <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                            <input type="hidden" name="item_name" value="Romanian in Action-Center of Excellence" />
                            <input type="hidden" name="amount" value="460" />
                            <input type="hidden" name="cmd" value="_xclick">
                            <input type="hidden" name="add" value="" />
                            <input type="hidden" name="business" value="otilia.baraboi@arcsproject.org">
                            <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                            <input type="submit" class="btn btn-info" value="First child (discounted total): $ 460 (12 weeks)" /><br /><br />
                        </form>
                        <p>
                            OR choose to pay in 3 installments of $160, by the following dates:
                        </p>
                        <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                            <input type="hidden" name="item_name" value="Romanian in Action-Center of Excellence" />
                            <input type="hidden" name="amount" value="160" />
                            <input type="hidden" name="cmd" value="_xclick">
                            <input type="hidden" name="add" value="" />
                            <input type="hidden" name="business" value="otilia.baraboi@arcsproject.org">
                            <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                            <input type="submit" class="btn btn-info" value="March 16: $160 (4 weeks)" /><br /><br />
                        </form>
                        <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                            <input type="hidden" name="item_name" value="Romanian in Action-Center of Excellence" />
                            <input type="hidden" name="amount" value="160" />
                            <input type="hidden" name="cmd" value="_xclick">
                            <input type="hidden" name="add" value="" />
                            <input type="hidden" name="business" value="otilia.baraboi@arcsproject.org">
                            <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                            <input type="submit" class="btn btn-info" value="April 27: $160 (4 weeks)" /><br /><br />
                        </form>
                        <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                            <input type="hidden" name="item_name" value="Romanian in Action-Center of Excellence" />
                            <input type="hidden" name="amount" value="160" />
                            <input type="hidden" name="cmd" value="_xclick">
                            <input type="hidden" name="add" value="" />
                            <input type="hidden" name="business" value="otilia.baraboi@arcsproject.org">
                            <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                            <input type="submit" class="btn btn-info" value="May 25: $160 (4 weeks)" /><br /><br />
                        </form>

                        <p>
                            We offer a 25% discount for the second child or <strong>$384</strong> full amount for 12 sessions of 2 hours. You can either pay the full discounted amount and save $20, or choose to pay in 3 installments, on the dates indicated bellow:
                        </p>
                        <p>
                            Payment Options:
                        </p>
                        <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                            <input type="hidden" name="item_name" value="Romanian in Action-Center of Excellence" />
                            <input type="hidden" name="amount" value="384" />
                            <input type="hidden" name="cmd" value="_xclick">
                            <input type="hidden" name="add" value="" />
                            <input type="hidden" name="business" value="otilia.baraboi@arcsproject.org">
                            <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                            <input type="submit" class="btn btn-info" value="Second child (discounted total): $384 (12 weeks)" /><br /><br />
                        </form>
                        <p>
                            OR <br /> 3 payments of $128 by the following deadlines:
                        </p>
                        <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                            <input type="hidden" name="item_name" value="Romanian in Action-Center of Excellence" />
                            <input type="hidden" name="amount" value="128" />
                            <input type="hidden" name="cmd" value="_xclick">
                            <input type="hidden" name="add" value="" />
                            <input type="hidden" name="business" value="otilia.baraboi@arcsproject.org">
                            <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                            <input type="submit" class="btn btn-info" value="March 16: $128 (4 weeks)" /><br /><br />
                        </form>
                        <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                            <input type="hidden" name="item_name" value="Romanian in Action-Center of Excellence" />
                            <input type="hidden" name="amount" value="128" />
                            <input type="hidden" name="cmd" value="_xclick">
                            <input type="hidden" name="add" value="" />
                            <input type="hidden" name="business" value="otilia.baraboi@arcsproject.org">
                            <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                            <input type="submit" class="btn btn-info" value="April 27: $128 (4 weeks)" /><br /><br />
                        </form>
                        <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                            <input type="hidden" name="item_name" value="Romanian in Action-Center of Excellence" />
                            <input type="hidden" name="amount" value="128" />
                            <input type="hidden" name="cmd" value="_xclick">
                            <input type="hidden" name="add" value="" />
                            <input type="hidden" name="business" value="otilia.baraboi@arcsproject.org">
                            <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                            <input type="submit" class="btn btn-info" value="May 25: $128 (4 weeks)" /><br /><br />
                        </form>

                        <p>
                            The full tuition cost for <strong><a href="#secret-society">The Secret Society of Romanian Storytellers-Cross-media Workshop</a></strong> is $200
                            (March 16, March 30), for 2 sessions of 5 hours.
                        </p>
                        <p>
                            Payment Options:
                        </p>
                        <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                            <input type="hidden" name="item_name" value="Romanian in Action-Center of Excellence" />
                            <input type="hidden" name="amount" value="200" />
                            <input type="hidden" name="cmd" value="_xclick">
                            <input type="hidden" name="add" value="" />
                            <input type="hidden" name="business" value="otilia.baraboi@arcsproject.org">
                            <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                            <input type="submit" class="btn btn-info" value="First child:  $200 (2 sessions/10 hours)" /><br /><br />
                        </form>
                        <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                            <input type="hidden" name="item_name" value="Romanian in Action-Center of Excellence" />
                            <input type="hidden" name="amount" value="170" />
                            <input type="hidden" name="cmd" value="_xclick">
                            <input type="hidden" name="add" value="" />
                            <input type="hidden" name="business" value="otilia.baraboi@arcsproject.org">
                            <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                            <input type="submit" class="btn btn-info" value="Second Child (15% discount): $170 (2 sessions/10 hours)" /><br /><br />
                        </form>



                        <p>
                            The full tuition cost for <strong><a href="#songs-and-poems">Romanian Songs and Poems</a></strong> is $120
                            for 4 sessions of 90 min (April 27-May 18).
                        </p>
                        <p>
                            If your child is not registered in any of the morning classes, you can  pay the full amount by April 27:
                        </p>
                        <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                            <input type="hidden" name="item_name" value="Romanian in Action-Center of Excellence" />
                            <input type="hidden" name="amount" value="120" />
                            <input type="hidden" name="cmd" value="_xclick">
                            <input type="hidden" name="add" value="" />
                            <input type="hidden" name="business" value="otilia.baraboi@arcsproject.org">
                            <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                            <input type="submit" class="btn btn-info" value="First child:  $120 (4 sessions)" /><br /><br />
                        </form>
                        <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                            <input type="hidden" name="item_name" value="Romanian in Action-Center of Excellence" />
                            <input type="hidden" name="amount" value="102" />
                            <input type="hidden" name="cmd" value="_xclick">
                            <input type="hidden" name="add" value="" />
                            <input type="hidden" name="business" value="otilia.baraboi@arcsproject.org">
                            <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                            <input type="submit" class="btn btn-info" value="Second Child (15% discount): $102 (4 sessions)" /><br /><br />
                        </form>
                        <p>
                            OR <br /> If your child is registered in our morning classes, we can offer you a
                            <strong>package of 16 sessions</strong> in total (morning and afternoon classes - 30 hours in total)
                            that will save you $ 60 or 10% of the entire cost.
                        </p>
                        <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                            <input type="hidden" name="item_name" value="Romanian in Action-Center of Excellence" />
                            <input type="hidden" name="amount" value="540" />
                            <input type="hidden" name="cmd" value="_xclick">
                            <input type="hidden" name="add" value="" />
                            <input type="hidden" name="business" value="otilia.baraboi@arcsproject.org">
                            <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                            <input type="submit" class="btn btn-info" value="First Child (discounted total): $540" /><br /><br />
                        </form>
                        <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                            <input type="hidden" name="item_name" value="Romanian in Action-Center of Excellence" />
                            <input type="hidden" name="amount" value="510" />
                            <input type="hidden" name="cmd" value="_xclick">
                            <input type="hidden" name="add" value="" />
                            <input type="hidden" name="business" value="otilia.baraboi@arcsproject.org">
                            <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                            <input type="submit" class="btn btn-info" value="Second child (15% discount): $510" /><br /><br />
                        </form>
                        <p>
                            OR <br />
                            Pay for afterschool class (4 sessions or 6 hours ) ONLY  in 2 installments by the following dates:
                        </p>
                        <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                            <input type="hidden" name="item_name" value="Romanian in Action-Center of Excellence" />
                            <input type="hidden" name="amount" value="60" />
                            <input type="hidden" name="cmd" value="_xclick">
                            <input type="hidden" name="add" value="" />
                            <input type="hidden" name="business" value="otilia.baraboi@arcsproject.org">
                            <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                            <input type="submit" class="btn btn-info" value="April 27: $60 (2 sessions)" /><br /><br />
                        </form>
                        <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                            <input type="hidden" name="item_name" value="Romanian in Action-Center of Excellence" />
                            <input type="hidden" name="amount" value="60" />
                            <input type="hidden" name="cmd" value="_xclick">
                            <input type="hidden" name="add" value="" />
                            <input type="hidden" name="business" value="otilia.baraboi@arcsproject.org">
                            <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                            <input type="submit" class="btn btn-info" value="May 25: $60 (2 sessions)" /><br /><br />
                        </form>

                    </div>

                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">Calendar</div>
                <div class="panel-body">
                    <p>
                        <strong>Romanian Fairy Tales and Around the World (10am-12pm)</strong>
                    </p>
                    <p>
                        2nd Semester:
                        <ul>
                            <li>March 9 - June 15</li>
                        </ul>
                    </p>
                    <p>
                        Instruction Days:
                        <ul>
                            <li>March 9, 16</li>
                            <li>April 13, 20, 27</li>
                            <li>May 4, 11, 18, 25</li>
                            <li>June 1, 8, 15</li>
                        </ul>
                    </p>
                    <p>
                        Holidays:
                        <ul>
                            <li>February 16-23 (Mid-Winter Break)</li>
                            <li>April 6- 13 (Spring Break)</li>
                        </ul>
                    </p>
                    <p>
                        No class:
                        <ul>
                            <li>March 30 (French Immersion School Open House)</li>
                        </ul>
                    </p>
                    <p>
                        <strong>The Secret Society of Romanian Storytellers (Cross-media Workshop)</strong>
                        <ul>
                            <li>March 16, 30</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Where?</div>
                <div class="panel-body">
                    <div class="row map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10767.580603736245!2d-122.1017966!3d47.5698284!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4f64dde0683a7c39!2sFrench+Immersion+School+of+Washington+(FISW)!5e0!3m2!1sro!2sus!4v1535826309317"
                                width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">Who, When and Where</div>
                <div class="panel-body">
                    <p>
                        The Center of Excellence in Romanian will operate weekly, on <strong>Saturdays</strong>, except for legal
                        and academic holidays. All programs will follow the structure of the Seattle public school year with 2 semesters.
                        All classes will take place at the French Immersion School or on the University of Washington Campus.
                    </p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>AGE GROUP / CLASS</th>
                                <th>WHEN</th>
                                <th>WHERE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>Age 5-7 years</strong><br /><a href="#creative-workshop">Romanian Fairy Tales</a></td>
                                <td>
                                    10:00 am - 12:00 pm<br />
                                    March 9 - June 15
                                </td>
                                <td>Room 1 French Immersion School</td>
                            </tr>
                            <tr>
                                <td><strong>Age 8-13 years</strong><br /><a href="#around-the-world">Around the World</a></td>
                                <td>
                                    10:00 am - 12:00 pm<br />
                                    March 9 - June 15
                                </td>
                                <td>Room 2 French Immersion School</td>
                            </tr>
                            <tr>
                                <td><strong>Age 12-17 years</strong><br /><a href="#secret-society">The Secret Society of Romanian Storytellers (Cross-media Workshop)</a></td>
                                <td>
                                    10:00 am - 3:00 pm<br />
                                    March 16, March 30
                                </td>
                                <td>
                                    COM 228 University of Washington
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Age 5-13 years</strong><br /><a href="#songs-and-poems">Romanian Songs and Poems</a></td>
                                <td>
                                    12:30 pm - 2:00 pm<br />
                                    April 27-May 18 Only
                                </td>
                                <td>
                                    Room 2 French Immersion School
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <img style="text-align:center;" class="rounded poster" src="../Resources/Images/excellence_center.jpg" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Instructors</div>
                <div class="panel-body">
                    <div class="row" id="otilia-baraboi">
                        <div class="col-sm-3">
                            <img class="media-object img-portrait" src="../Resources/Images/excellence/Otilia_Baraboi.jpg" alt="Image of Otilia Baraboi">
                        </div>
                        <div class="col-sm-9">
                            <h4 class="media-heading ng-binding">Otilia Baraboi</h4>
                            <h5><a href="mailto:otilia.baraboi@arcsproject.org">otilia.baraboi@arcsproject.org</a></h5>
                            <p>
                                Otilia Baraboi is a higher education professional who has been teaching French language and literature at the University of Washington for the past 17 years. She emigrated to the US in 2000 after having obtained a BA with a double specialization in French
                                and English languages and literatures from the Al.I. Cuza University in Iasi. She also holds a Master’s degree (DEA) from the University of Geneva and a Ph.D. in French Literature from the University of Washington. Before coming
                                to the US, Otilia worked as a literary journalist, published short-fiction and translations, and was actively involved in the cultural life of her hometown, Iasi. For Otilia, becoming part of the pioneer projects "Româna la Liceu"
                                and the Center of Excellence ROMANIAN IN ACTION represents a long-awaited opportunity to invest in the future of the Romanian American community and, on a more personal level, to have a positive impact on the ways in which her
                                own two boys define and pass on their rich cultural and linguistic heritage.
                            </p>
                        </div>
                    </div>
                    <div class="row" id="elizabeta-iliescu">
                        <div class="col-sm-3">
                            <img class="media-object img-portrait" src="../Resources/Images/ElizabetaIliescu.jpg" alt="Image of Elizabeta Iliescu">
                        </div>
                        <div class="col-sm-9">
                            <h4 class="media-heading ng-binding">Elizabeta Iliescu</h4>
                            <h5><a href="mailto:elizabeta.iliescu@arcsproject.org">elizabeta.iliescu@arcsproject.org</a></h5>
                            <p>
                                Elizabeta Iliescu was born in Northern Romania where she grew up very attached to her grandparents. After high school, she moved to Bucharest where she studied physics and worked for an insurance company. She moved to the US with her family in 2008. The
                                love of being around children made her look for opportunities to work with them After earning an AAS-T Certificate in early Childhood Careers, she volunteered and worked in various early childhood education programs. Elizabeta
                                is currently working with Bellevue School District in Early Learning Programs and volunteering for the ARCS Piticot program. She is also collaborating with Lakehills Library for the program Romanian Story Times / Poveşti româneşti.
                            </p>
                        </div>
                    </div>
                    <div class="row" id="adriana-guiman">
                        <div class="col-sm-3">
                            <img class="media-object img-portrait" src="../Resources/Images/board/AdrianaGuiman.jpg" alt="Image of Adriana Guiman">
                        </div>
                        <div class="col-sm-9">
                            <h4 class="media-heading ng-binding">Adriana Guiman</h4>
                            <h5><a href="mailto:adriana.guiman@arcsproject.org">adriana.guiman@arcsproject.org</a></h5>
                            <p>
                                Adriana Guiman’s background is in film and media production. She has a Master Degree in Transmedia Storytelling Production from Tallinn & Tartu University, Estonia, and is currently researching cinematic VR experiences as a PhD student at Aalto University, Helsinki, Finland.
                                She is collaborating with the company Engage Through Tech from Bellevue, facilitating media and tech workshops for the Girl Scouts of Washington. She is the founder of the company XR Journeys that focuses on storytelling through immersive technologies.
                            </p>
                        </div>
                    </div>
                    <div class="row" id="ileana-marin">
                        <div class="col-sm-3">
                            <img class="media-object img-portrait" src="../Resources/Images/IleanaMarin.jpg" alt="Image of Ileana Marin">
                        </div>
                        <div class="col-sm-9">
                            <h4 class="media-heading ng-binding">Ileana Marin</h4>
                            <h5><a href="mailto:ileana.marin@arcsproject.org">ileana.marin@arcsproject.org</a></h5>
                            <p>
                                Ileana Marin graduated Faculty of Letters at the Uniiversity of Bucharest in 1991. She began her academic career at the Ovidius University of Constanța where she taught comparative literature, coordinated International Summer Courses of Romanian Language,
                                Culture, and Civilization for which she also taught Romanian between 1992 and 2004. In 2000, she earned her Ph.D. in philology from the University of Bucharest and later became an associate professor. From 2006, she has taught
                                comparative literature courses at the University of Washington where she defended her second Ph.D. in textual studies in 2011. Since 2010, she has collaborated with the Center of Excellence in Image Studies – University of Bucharest
                                where she coordinates doctoral candidates. Ileana Marin taught Romanian as a Fulbright scholar in 2004 and as an instructor for FLAS fellows in 2007 at the UW. In 2016, together with Otilia Baraboi, Gloria Man, and Iulian Calinov,
                                she participated in launching the pilot program "Româna la Liceu".
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Volunteer Opportunities</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <p>We need volunteers to help us coordinate our school activities during class time and in-between classes. Please consider becoming a volunteer and help us grow our programs.</p>
                            <p>
                                We need volunteers for the following activities:
                                <ul>
                                    <li>Help with the sign-in and sign-out sheets</li>
                                    <li>Supervise the students during the breaks</li>
                                    <li>Help out during class time</li>
                                    <li>Help out setting up and cleaning up the facility</li>
                                    <li>Bring snacks</li>
                                </ul>
                            </p>
                            <p>We also need help organizing a June 1st celebration for our students.</p>
                            <p>You can email <a href="mailto:otilia.baraboi@arcsproject.org">Otilia Baraboi at otilia.baraboi@arcsproject.org</a> if you have specific questions or register online if you would like to volunteer.</p>
                            <p><a href="https://goo.gl/forms/vexUfpg6NxqH2hfB2" target="_blank" class="btn btn-info">Registration Form- Volunteer Opportunities</a></p>
                        </div>
                        <div class="col-sm-6">
                            <img class="poster rounded" src="../Resources/Images/excellence/volunteering.jpg" alt="Volunteer Opportunities" title="Volunteer Opportunities" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">ARCS Partners</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <p style="position:relative;height:230px;">
                                <img src="../Resources/Images/excellence/xr-journeys.png" alt="XR Journeys" class="sponsor-image-new">
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <p style="position:relative;height:230px;">
                                <img src="../Resources/Images/excellence/uw.png" alt="Ellison Center for Russian, East European & Central Asia Studies" class="sponsor-image-new">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <em>
            Copyright Notice. All content on this program presentation is the exclusive property of ARCS and is protected by USA and international copyright laws. The use, distribution, reproduction or modification of this presentation without ARCS written permission is strictly prohibited. <br />
            Copyright for the program <strong>"The Secret Society of Romanian Storytellers - Cross-media Workshop"</strong> - Adriana Guiman and XR Journeys.
        </em>
    </div>
    {{TrackOutboundRequests()}}
