<div class="container">
    <h2>THE CENTER OF EXCELLENCE</h2>
    <div class="row">
        <div class="col-sm-7">

            <p>
                Are you interested in stimulating your child’s creativity by nourishing her/his bicultural and bilingual background?
            </p>
            <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSeCwFLKy-aWwVSBnsIL5qOhpLD_a2uM2TauWPhdcGaHS8O-_g/viewform" target="_blank" class="btn btn-info">Registration Form - Regular Classes</a></p>
            <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSd85LmTSXGBoHhvQUeMOOQIRdwJZYKjF2tjv3PJOMUGt5T3yA/viewform" target="_blank" class="btn btn-info">Registration Form – Multimedia Workshop</a></p>
            <p>
                The Center of Excellence ROMANIAN IN ACTION offers innovative classes and workshops for children and youth of Romanian origin and background.
                Regardless of your child’s knowledge of Romanian, we will use total or partial immersion language pedagogies and adjust our instructional
                strategies to her/his particular learning needs and potential.
                Our programs plant the seeds for life success for Romanian heritage students by nurturing creative enrichment, academic excellence and appreciation for
                bilingual education.
            </p>
        </div>
        <div class="col-sm-5">
            <img class="poster rounded" src="../Resources/Images/centre_of_excellence_img2.jpg">
            <br>
            <em class="pull-right">Photo credit: Dan Antoche-Albisor</em>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Who?</div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>AGE</th>
                                <th>CLASSES / WORKSHOPS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>5-7 years</td>
                                <td><a href="#creative-workshop">Creative Workshops</a></td>
                            </tr>
                            <tr>
                                <td>8-13 years</td>
                                <td><a href="#around-the-world">Around the World</a></td>
                            </tr>
                            <tr>
                                <td>12-17 years</td>
                                <td><a href="#secret-society">The Secret Society of Romanian Story Tellers</a></td>
                            </tr>
                            <tr>
                                <td>14-18 years (advanced)</td>
                                <td>Preparing for the ALTA test</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-primary" id="cost">
                <div class="panel-heading">How much?</div>
                <div class="panel-body">
                    <p>
                        The full tuition cost for one semester of classes at ROACT is <strong>$600 for 12 sessions of 2 hours EACH</strong> (March 9 - June 15). We do not charge any extra fee for the days when
                        our classes do not meet. The cost will cover only partially our rent, classroom materials and instructors' salaries. If you need financial aid, please contact us. Thank you!
                    </p>
                    <p class="read-more btn btn-info" style="color:white;" data-toggle="collapse" href="#paymentOptions" aria-expanded="false" aria-controls="collapseExample">Payment Options...</p>
                    <div class="collapse" id="paymentOptions">
                        <p>
                            You can either pay the full discounted amount and save $30:
                        </p>
                        <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                            <input type="hidden" name="item_name" value="Romanian in Action-Center of Excellence" />
                            <input type="hidden" name="amount" value="570" />
                            <input type="hidden" name="cmd" value="_xclick">
                            <input type="hidden" name="add" value="" />
                            <input type="hidden" name="business" value="otilia.baraboi@arcsproject.org">
                            <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                            <input type="submit" class="btn btn-info" value="First child (discounted total): $ 570 (12 weeks)" /><br /><br />
                        </form>
                        <p>
                            OR choose to pay in 3 installments of $200, by the following dates:
                        </p>
                        <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                            <input type="hidden" name="item_name" value="Romanian in Action-Center of Excellence" />
                            <input type="hidden" name="amount" value="200" />
                            <input type="hidden" name="cmd" value="_xclick">
                            <input type="hidden" name="add" value="" />
                            <input type="hidden" name="business" value="otilia.baraboi@arcsproject.org">
                            <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                            <input type="submit" class="btn btn-info" value="March 16: $200 (4 weeks)" /><br /><br />
                        </form>
                        <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                            <input type="hidden" name="item_name" value="Romanian in Action-Center of Excellence" />
                            <input type="hidden" name="amount" value="200" />
                            <input type="hidden" name="cmd" value="_xclick">
                            <input type="hidden" name="add" value="" />
                            <input type="hidden" name="business" value="otilia.baraboi@arcsproject.org">
                            <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                            <input type="submit" class="btn btn-info" value="April 27: $200 (4 weeks)" /><br /><br />
                        </form>
                        <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                            <input type="hidden" name="item_name" value="Romanian in Action-Center of Excellence" />
                            <input type="hidden" name="amount" value="200" />
                            <input type="hidden" name="cmd" value="_xclick">
                            <input type="hidden" name="add" value="" />
                            <input type="hidden" name="business" value="otilia.baraboi@arcsproject.org">
                            <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                            <input type="submit" class="btn btn-info" value="May 25: $200 (4 weeks)" /><br /><br />
                        </form>

                        <p>
                            We offer a 25% discount for the second child or $450 full amount for 12 sessions of 2 hours. You can either pay the full discounted amount and save $20, or choose to pay in 3 installments, on the dates indicated bellow:
                        </p>
                        <p>
                            Payment Options:
                        </p>
                        <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                            <input type="hidden" name="item_name" value="Romanian in Action-Center of Excellence" />
                            <input type="hidden" name="amount" value="430" />
                            <input type="hidden" name="cmd" value="_xclick">
                            <input type="hidden" name="add" value="" />
                            <input type="hidden" name="business" value="otilia.baraboi@arcsproject.org">
                            <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                            <input type="submit" class="btn btn-info" value="Second child (discounted total): $430 (12 weeks)" /><br /><br />
                        </form>
                        <p>
                            OR <br /> 3 payments of $150 by the following deadlines:
                        </p>
                        <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                            <input type="hidden" name="item_name" value="Romanian in Action-Center of Excellence" />
                            <input type="hidden" name="amount" value="150" />
                            <input type="hidden" name="cmd" value="_xclick">
                            <input type="hidden" name="add" value="" />
                            <input type="hidden" name="business" value="otilia.baraboi@arcsproject.org">
                            <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                            <input type="submit" class="btn btn-info" value="March 16: $150 (4 weeks)" /><br /><br />
                        </form>
                        <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                            <input type="hidden" name="item_name" value="Romanian in Action-Center of Excellence" />
                            <input type="hidden" name="amount" value="150" />
                            <input type="hidden" name="cmd" value="_xclick">
                            <input type="hidden" name="add" value="" />
                            <input type="hidden" name="business" value="otilia.baraboi@arcsproject.org">
                            <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                            <input type="submit" class="btn btn-info" value="April 27: $150 (4 weeks)" /><br /><br />
                        </form>
                        <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                            <input type="hidden" name="item_name" value="Romanian in Action-Center of Excellence" />
                            <input type="hidden" name="amount" value="150" />
                            <input type="hidden" name="cmd" value="_xclick">
                            <input type="hidden" name="add" value="" />
                            <input type="hidden" name="business" value="otilia.baraboi@arcsproject.org">
                            <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                            <input type="submit" class="btn btn-info" value="May 25: $150 (4 weeks)" /><br /><br />
                        </form>

                        <p>
                            The full tuition cost for <strong><a href="#secret-society">The Secret Society of Romanian Story Tellers</a></strong> is $200
                            (March 16, March 30), for 2 sessions of 5 hours.
                        </p>
                        <p>
                            Payment Options:
                        </p>
                        <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                            <input type="hidden" name="item_name" value="Romanian in Action-Center of Excellence" />
                            <input type="hidden" name="amount" value="200" />
                            <input type="hidden" name="cmd" value="_xclick">
                            <input type="hidden" name="add" value="" />
                            <input type="hidden" name="business" value="otilia.baraboi@arcsproject.org">
                            <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                            <input type="submit" class="btn btn-info" value="First child:  $200 (2 sessions/10 hours)" /><br /><br />
                        </form>
                        <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                            <input type="hidden" name="item_name" value="Romanian in Action-Center of Excellence" />
                            <input type="hidden" name="amount" value="150" />
                            <input type="hidden" name="cmd" value="_xclick">
                            <input type="hidden" name="add" value="" />
                            <input type="hidden" name="business" value="otilia.baraboi@arcsproject.org">
                            <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                            <input type="submit" class="btn btn-info" value="Second Child (25% discount): $150 (2 sessions/10 hours)" /><br /><br />
                        </form>
                    </div>

                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">Calendar</div>
                <div class="panel-body">
                    <p>
                        1st Semester:
                        <ul>
                            <li>October 6 - February 9</li>
                        </ul>
                    </p>
                    <p>
                        2nd Semester:
                        <ul>
                            <li>March 9 - June 15</li>
                        </ul>
                    </p>
                    <p>
                        Instruction Days:
                        <ul>
                            <li>March 9, 16</li>
                            <li>April 13, 20, 27</li>
                            <li>May 4, 11, 18, 25</li>
                            <li>June 1, 8, 15</li>
                        </ul>
                    </p>
                    <p>
                        Holidays:
                        <ul>
                            <li>February 16-23 (Mid-Winter Break)</li>
                            <li>April 6- 13 (Spring Break)</li>
                        </ul>
                    </p>
                    <p>
                        No class:
                        <ul>
                            <li>March 30 (French Immersion School Open House)</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Where?</div>
                <div class="panel-body">
                    <div class="row map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10767.580603736245!2d-122.1017966!3d47.5698284!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4f64dde0683a7c39!2sFrench+Immersion+School+of+Washington+(FISW)!5e0!3m2!1sro!2sus!4v1535826309317"
                            width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">When? - on Saturdays</div>
                <div class="panel-body">
                    <p>
                        The Center of Excellence in Romanian will operate weekly, on Saturdays, except legal
                        and academic holidays. All programs will follow the structure of the Seattle public school year with 2 semesters.
                        All classes will take place at the French Immersion School or on the University of Washington Campus.
                    </p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>GROUP</th>
                                <th>WHEN</th>
                                <th>WHERE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>Age 5-7 years</strong><br /><a href="#creative-workshop">Creative Workshops</a></td>
                                <td>10:00 am-12:00 pm</td>
                                <td>Room 1/FIS<br />*Spring</td>
                            </tr>
                            <tr>
                                <td><strong>Age 8-13 years</strong><br /><a href="#around-the-world">Around the World</a></td>
                                <td>10:00 am-12:00 pm</td>
                                <td>Room 2/FIS<br />*Spring</td>
                            </tr>
                            <tr>
                                <td><strong>Age 12-17 years</strong><br /><a href="#secret-society">The Secret Society of Romanian Storytellers</a></td>
                                <td>10:00 am-3:00 pm</td>
                                <td>COM 228/UW<br />*Spring</td>
                            </tr>
                            <tr>
                                <td>Romanian in HS (14-18 years)<br />ALTA Test Preparation (advanced)</td>
                                <td>10:00 am-12:30 pm</td>
                                <td>COM 228/UW<br />*Fall</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">What?</div>
                <div class="panel-body">
                    <p>
                        The project-base workshops are as follows:
                    </p>
                    <p id="creative-workshop">
                        <strong>Creative Workshops</strong> (5-7 years)
                    </p>
                    <p>
                        <strong>Instructor:</strong> <a href="#elizabeta-iliescu">Elizabeta Iliescu</a>
                    </p>
                    <p>
                        This class starts from the premise that every single child is a potential artist!
                        Building on the innate talent of each student, creative workshops will use painting, modeling,
                        collages, fables and personal stories to develop communication skills in Romanian.
                        The students will learn how to describe and present the heroes of various Romanian
                        stories in view of creating their own characters and scenarios.
                        Romanian poems, songs, and games will be used to develop the children’s cultural sensitivity,
                        enrich their vocabulary and nurture appreciation for their heritage language.
                    </p>

                    <p id="around-the-world">
                        <strong>Around the World</strong> (8-13 years)
                    </p>
                    <p>
                        <strong>Instructor:</strong> <a href="#otilia-baraboi">Otilia Baraboi</a>
                    </p>
                    <p>
                        Through the use of authentic, interactive contexts and techniques, the students will learn more about Romania and world geography, nature,
                        environment and cultures. They will produce artifacts depicting each step of their journey around the world and will compile a portfolio of
                        postcards, letters, diary entries, photo-albums, maps, etc. Romanian language and communication skills will be acquired naturally,
                        through interactive activities, and in a structured format through age-appropriate texts that will include vocabulary, idiomatic expressions,
                        and useful grammatical aspects. Sensorial learning, such as music, dance, and even food will enrich their discovery adventure.
                    </p>

                    <p id="secret-society">
                        <strong>The Secret Society of Romanian Story Tellers, First Workshop</strong> (12-17 years)
                    </p>
                    <p>
                        <strong>Instructor:</strong> <a href="#adriana-guiman">Adriana-Guiman</a>
                    </p>
                    <p>
                        The Secret Society of Romanian Storytellers is a creative environment where participants are encouraged to explore elements from
                        their Romanian identity through storytelling, a space where they can build friendships, and the confidence to keep discovering their Romanian story.
                        Stories of Romanian objects, the story of their family or the story of an imaginary visit in Romania can be shaped in a multi-platform storytelling
                        experience using immersive technologies such as virtual reality, and augmented reality.
                    </p>
                    <p class="read-more" data-toggle="collapse" href="#collapseInAction2" aria-expanded="false" aria-controls="collapseExample">Read more...</p>
                    <div class="collapse" id="collapseInAction2">
                    <p>
                        This first workshop is two sessions learning experience (with a week pause between them) that will teach the participants the basic skills for
                        developing a multi-platform storytelling experience. <br/>
                        In the first session the participants will get hands on how to prototype a cardboard game, how to produce audio and video content,
                        360° video, and will learn the basic steps for creating a VR and AR experience.<br/>
                        They will learn how to approach a story from a multi-platform perspective, and why this approach is important.
                        They will experience 360°, VR and AR content that will serve as models for creating their own projects prototypes. <br/>
                        In the break between the session’s participants will come up with ideas for their own projects and receive support for partially producing them,
                        through online tutoring.<br/>
                        The second session of the workshop will be built around their own projects, working on editing and combining all the elements into a
                        final multi-platform project production plan. We will work towards having at least two prototypes produced/per project at the end of
                        the two sessions.
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <img style="text-align:center;" class="rounded poster" src="../Resources/Images/excellence_center.jpg">
            </div>
        </div>

        <h3 class="h3_margins">Instructors : </h3>

        <br/>

        <div>
            <div class="row" id="ileana-marin">
                <div class="col-sm-3">
                    <img class="media-object img-portrait" src="../Resources/Images/IleanaMarin.jpg" alt="Image of Ileana Marin">
                </div>
                <div class="col-sm-9">
                    <h4 class="media-heading ng-binding">Ileana Marin</h4>
                    <h5><a href="mailto:ileana.marin@arcsproject.org">ileana.marin@arcsproject.org</a></h5>
                    <p>
                        Ileana Marin graduated Faculty of Letters at the Uniiversity of Bucharest in 1991. She began her academic career at the Ovidius University of Constanța where she taught comparative literature, coordinated International Summer Courses of Romanian Language,
                        Culture, and Civilization for which she also taught Romanian between 1992 and 2004. In 2000, she earned her Ph.D. in philology from the University of Bucharest and later became an associate professor. From 2006, she has taught
                        comparative literature courses at the University of Washington where she defended her second Ph.D. in textual studies in 2011. Since 2010, she has collaborated with the Center of Excellence in Image Studies – University of Bucharest
                        where she coordinates doctoral candidates. Ileana Marin taught Romanian as a Fulbright scholar in 2004 and as an instructor for FLAS fellows in 2007 at the UW. In 2016, together with Otilia Baraboi, Gloria Man, and Iulian Calinov,
                        she participated in launching the pilot program "Româna la Liceu".
                    </p>
                </div>
            </div>
        </div>

        <div>
            <div class="row" id="otilia-baraboi">
                <div class="col-sm-3">
                    <img class="media-object img-portrait" src="../Resources/Images/OtiliaBaraboi.jpg" alt="Image of Otilia Baraboi">
                </div>
                <div class="col-sm-9">
                    <h4 class="media-heading ng-binding">Otilia Baraboi</h4>
                    <h5><a href="mailto:otilia.baraboi@arcsproject.org">otilia.baraboi@arcsproject.org</a></h5>
                    <p>
                        Otilia Baraboi is a higher education professional who has been teaching French language and literature at the University of Washington for the past 17 years. She emigrated to the US in 2000 after having obtained a BA with a double specialization in French
                        and English languages and literatures from the Al.I. Cuza University in Iasi. She also holds a Master’s degree (DEA) from the University of Geneva and a Ph.D. in French Literature from the University of Washington. Before coming
                        to the US, Otilia worked as a literary journalist, published short-fiction and translations, and was actively involved in the cultural life of her hometown, Iasi. For Otilia, becoming part of the pioneer projects "Româna la Liceu"
                        and the Center of Excellence ROMANIAN IN ACTION represents a long-awaited opportunity to invest in the future of the Romanian American community and, on a more personal level, to have a positive impact on the ways in which her
                        own two boys define and pass on their rich cultural and linguistic heritage.
                    </p>
                </div>
            </div>
        </div>


        <div>
            <div class="row" id="elizabeta-iliescu">
                <div class="col-sm-3">
                    <img class="media-object img-portrait" src="../Resources/Images/ElizabetaIliescu.jpg" alt="Image of Elizabeta Iliescu">
                </div>
                <div class="col-sm-9">
                    <h4 class="media-heading ng-binding">Elizabeta Iliescu</h4>
                    <h5><a href="mailto:elizabeta.iliescu@arcsproject.org">elizabeta.iliescu@arcsproject.org</a></h5>
                    <p>
                        Elizabeta Iliescu was born in Northern Romania where she grew up very attached to her grandparents. After high school, she moved to Bucharest where she studied physics and worked for an insurance company. She moved to the US with her family in 2008. The
                        love of being around children made her look for opportunities to work with them After earning an AAS-T Certificate in early Childhood Careers, she volunteered and worked in various early childhood education programs. Elizabeta
                        is currently working with Bellevue School District in Early Learning Programs and volunteering for the ARCS Piticot program. She is also collaborating with Lakehills Library for the program Romanian Story Times / Poveşti româneşti.
                    </p>
                </div>
            </div>
        </div>


        <div>
            <div class="row" id="adriana-guiman">
                <div class="col-sm-3">
                    <img class="media-object img-portrait" src="../Resources/Images/board/AdrianaGuiman.jpg" alt="Image of Adriana Guiman">
                </div>
                <div class="col-sm-9">
                    <h4 class="media-heading ng-binding">Adriana Guiman</h4>
                    <h5><a href="mailto:adriana.guiman@arcsproject.org">adriana.guiman@arcsproject.org</a></h5>
                    <p>
                        Adriana Guiman’s background is in film and media production. She has a Master Degree in Transmedia Storytelling Production from Tallinn & Tartu University, Estonia, and is currently researching cinematic VR experiences as a PhD student at Aalto University, Helsinki, Finland.
                        She is collaborating with the company Engage Through Tech from Bellevue, facilitating media and tech workshops for the Girl Scouts of Washington. She is the founder of the company XR Journeys that focuses on storytelling through immersive technologies.
                    </p>
                </div>
            </div>
        </div>


        <br/>
        <em>
		Copyright Notice. All content on this program presentation  is the exclusive property of ARCS and is protected by USA and international copyright laws. The use, distribution, reproduction or modification of this presentation without ARCS written permission is strictly prohibited. 
	 </em>
    </div>
    {{TrackOutboundRequests()}}