<div class="container">
    <div class="row">
        <div class="col-sm-8" style="text-align:justify;margin-top:10px;">
            <h2>The Romanian Film Festival (5th Edition): "One Eye Laughing, One Eye Crying: Uncanny Worlds"</h2>
            <h4><b>November 2-4, 2018, SIFF Cinema Uptown</b></h4>
            <p>Join us on an exploration of the blurred frontiers of reality through Romanian films, celebrating the <b>5th Edition</b> of the <b>Romanian Film Festival in Seattle</b>.</p>
            <p>In tune with the Halloween spirit of the first week in November, take an imaginary journey to Romania, and its <b>"Uncanny Worlds"</b>. We plan to challenge values and beliefs in relation to the unusual, unfamiliar, ineffable, incomprehensible,
                unfathomable, inscrutable, or the unclear, inviting you to a visual feast of mesmerizing film features and documentaries. You will find out that Romanian films, more than ever, reflect the uncanny aspects of reality, history, politics,
                everyday life, as well as spirituality, folklore, and traditions; in a word, the uncanny essence of human nature.</p>

            <div style="margin-bottom: 20px;">
                <img id="film-fest-flyer" src="../Resources/Images/film_fest_2018/poster.jpg" style="width:100%" alt="ARCS presents: The Romanian Film Festival Seattle (5h edition)" />
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p style="text-align:justify;">We have made history together: from one of the smallest venues in town with 93 seats (in 2014), we have upgraded the festival to the largest auditoriums @ SIFF CINEMA Uptown with 275 seats (between 2015-2017). From about 750 people attending
                    the first edition, last year we reached a record of approximately 2,300 people, including those who attended the pre and post events. From an ethnic film festival, we have succeeded in making it a Seattle festival where people of all
                    backgrounds watch internationally acclaimed films, learn something about Romanian heritage, and laugh and cry together proving that the festival has earned its title "One Eye Laughing, One Eye Crying".</p>
                <p style="text-align:justify;">Let us know if you would like to become our business <b>partner ($1,000 +)</b> or <b>sponsor ($500+)</b>. In case you decide to support our beautiful project and fundraising endeavors, ARCS will acknowledge your contribution on all promotional
                    materials – <b>website, Facebook, poster, flyers, and before each screening.</b></p>
                <p style="text-align:justify;">DO NOT MISS this one of a kind opportunity to gain more visibility, grow, have an impact, and let your community know that you care and belong!</p>
            </div>
        </div>
        <div class="col-sm-4" style="margin-top:25px;">
            <p><iframe class="embedded-video" src="https://player.vimeo.com/video/283203964?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></p>
            <div style="padding-left:15px;text-align:justify;margin-top:20px;">
                <p><b>CROWDFUNDING Campaign</b></p>
                <p><b>Please support</b> the 5th edition of the Romanian Film Festival. Donating is easy and secure through our website, choose your desired level of donation and click on the <b>Donate</b> button:</p>
            </div>
            <ng-include src="GetUrlWithVersion('Views/pie-chart.html')" ng-init="targetDonation='film2018';chartWidth='50%';showNewGoalMsg=true;"></ng-include>
            <ng-include src="GetUrlWithVersion('Views/film-fest-donate.html')" ng-init="expanded=false"></ng-include>
            <p style="text-align:center;">
                Checks are welcome. Please address them to:<br />
                <span>American Romanian Cultural Society</span><br />
                <span>1931 E Lynn St</span><br />
                <span>Seattle, WA 98112</span><br />
            </p>
        </div>
    </div>
    <!--<h2>Pre-Events</h2>
    <event event="event" ng-repeat="event in events | orderBy: 'date'"></event>-->
    <h2 id="guests">Guests</h2>
    <div ng-repeat="guest in guests">
        <div class="row">
            <div class="col-sm-3" id="{{guest.id}}">
                <img class="media-object guest" src="../Resources/Images/film_fest_2018/{{guest.imagePath}}" alt="Image of {{guest.name}}">
                <span ng-if="guest.photoCaption">
                    <em style="margin-top:-15px;" class="pull-right">{{guest.photoCaption}}</em>
                </span>
            </div>
            <div class="col-sm-9">
                <h4 class="media-heading" ng-bind-html="guest.name"></h4>
                <p ng-bind-html="guest.details"></p>
            </div>
        </div>
        <hr />
    </div>
    <div id="tickets" class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Tickets and Passes</h3>
        </div>
        <div class="panel-body">
            <div class="row" style="padding:10px;">
                <div class="col-sm-6">
                    <p>Make the Most out of Halloween weekend this year with our Romanian Film Festival Passes:</p>
                    <p><a href="http://myaccount.siff.net/pass/index.aspx?pid=1665" target="_blank" class="btn btn-info buy-ticket-button" track-category="Buy Ticket" track-action="Full Pass">Get your Romanian Film Festival Full Pass</a></p>
                </div>
                <div class="col-sm-6">
                    <p>Early Bird Pass - $60 (Sept 19th to Oct 10th)</p>
                    <p>Early Bird General Admission - $10 (Sept 19th to Oct 10th)</p>
                    <p>General Admission - $12 (from Oct 11th)</p>
                    <p>SIFF Member - $7</p>
                    <p>Student - $7</p>
                    <p>Senior - $10</p>
                    <p>Opening Gala + Ticket - $22</p>
                </div>
            </div>
        </div>
    </div>
    <h2 id="films" style="margin-top:-10px;">Films</h2>
    <p>All films have English subtitles</p>
    <div class="panel panel-primary" ng-repeat="film in films">
        <div class="panel-heading" id="{{film.id}}">
            <div class="row">
                <div class="col-xs-9">
                    <h3 class="panel-title">{{film.name}} (By {{film.artist}})</h3>
                </div>
                <div class="col-xs-3">
                    <a ng-if="film.ticketLink" class="btn btn-info btn-sm event-button buy-ticket-button" href="{{film.ticketLink}}" target="_blank" track-category="Buy Ticket" track-action="{{film.name}}" track-custom="title"><strong>BUY TICKETS</strong></a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3">
                    <img class="media-object film" src="../Resources/Images/film_fest_2018/{{film.imagePath}}" alt="Image for {{film.name}}">
                </div>
                <div class="col-sm-9">
                    <h4 ng-if="film.time">{{film.time}}</h4>
                    <p ng-if="film.guests"><b>Guests in attendance:</b> {{film.guests}}</p>
                    <p ng-repeat="line in film.description" ng-bind-html="line"></p>
                    <p><b>Length:</b> {{film.length}}</p>
                    <p>{{film.year}}, {{film.genres}}</p>
                    <p ng-if="film.trailerLink"><a ng-if="film.trailerLink" href="{{film.trailerLink}}" target="_blank" track-category="View Trailer" track-action="{{film.name}}">View Trailer</a></p>
                    <p><a ng-if="film.ticketLink" class="btn btn-info buy-ticket-button" href="{{film.ticketLink}}" target="_blank" track-category="Buy Ticket" track-action="{{film.name}}" track-custom="content"><strong>BUY TICKETS</strong></a></p>
                </div>
            </div>
        </div>
    </div>
    <h2 id="special-events">Special Events</h2>
    <event event="event" ng-repeat="event in specialEvents | orderBy: 'date'"></event>
    <h2 id="supporters">Supporters</h2>
    <h3 id="official-partners">Festival Official Partners ($2000+)</h3>
    <div class="row">
        <div class="col-sm-6 col-md-4" ng-repeat="partner in officialPartners">
            <a href="{{partner.link}}" class="thumbnail" style="position:relative" target="_blank">
                <img ng-src="../Resources/Images/film_fest_2018/{{partner.imagePath}}" alt="Logo for {{partner.link}}" class="sponsor-image-new">
            </a>
        </div>
    </div>
    <h3 id="partners">Partners ($1000+)</h3>
    <div class="row">
        <div class="col-sm-6 col-md-4" ng-repeat="partner in partners">
            <a href="{{partner.link}}" class="thumbnail" style="position:relative" target="_blank">
                <img ng-src="../Resources/Images/film_fest_2018/{{partner.imagePath}}" alt="Logo for {{partner.link}}" class="sponsor-image-new">
            </a>
        </div>
    </div>
    <h3 id="sponsors">Sponsors ($500+)</h3>
    <div class="row">
        <div class="col-sm-6 col-md-4" ng-repeat="sponsor in sponsors">
            <a href="{{sponsor.link}}" class="thumbnail" style="position:relative" target="_blank">
                <img ng-src="../Resources/Images/film_fest_2018/{{sponsor.imagePath}}" alt="Logo for {{sponsor.link}}" class="sponsor-image-new">
            </a>
        </div>
    </div>
    <donors campaign="filmfest2018" heading="Private Donors" titles="donorGroupTitles"></donors>
</div>
<jsonld data-json="jsonId"></jsonld>
{{TrackOutboundRequests()}}