<div class="container">
    <h1>Romanian Film Festival (4<sup>th</sup> Edition)</h1>
    <h2>What?</h2>
    <h4>One Eye Laughing, One Eye Crying: Tales from Afar</h4>
    <p>In a city with a long and dynamic tradition of film-related events, ARCS is thrilled to announce the 4th Romanian Film Festival in the Pacific Northwest: “One Eye Laughing, One Eye Crying: Tales from Afar”, preceded by an extraordinary fusion concert, “Songs from Afar”, cross-listed with <a href="https://www.earshot.org" target="_blank">Earshot Jazz Festival.</a></p>
    <p>Through a variety of genres (documentary, comedy, drama), we will explore the ways in which Romania’s most recent films relate to the other arts, such as music and literature, thawing conceptual borders and enhancing the old art of storytelling with riveting cinematic makeovers. Local and international special guests will present the movies and interact with the audience at the festival gala.</p>
    <h2>When?</h2>
    <p>November 17-19, 2017</p>
    <h2>Where?</h2>
    <div class="row">
        <div class="col-sm-2">
            <p><a href="https://www.google.com/maps/place/SIFF+Cinema+Uptown/@47.6236086,-122.3592324,17z/data=!3m1!4b1!4m5!3m4!1s0x54901546d31fd5ff:0x66ddf48da16f8726!8m2!3d47.6236086!4d-122.3570437?q=siff+cinema+uptown&um=1&ie=UTF-8&sa=X&ved=0ahUKEwidnOPw06DVAhUG_mMKHTj-DdYQ_AUICigB" target="_blank">SIFF Cinema Uptown</a></p>
            <p>
                511 Queen Anne Avenue N<br />
                Seattle, WA 98109
            </p>
        </div>
        <div class="col-sm-5">
            <img src="../Resources/Images/siff.jpg" alt="SIFF Cinema Uptown">
        </div>
        <div class="col-sm-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2689.129774620879!2d-122.35923238436895!3d47.62360857918578!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54901546d31fd5ff%3A0x66ddf48da16f8726!2sSIFF+Cinema+Uptown!5e0!3m2!1sen!2sus!4v1500855895683" width="400" height="300" frameborder="0" style="border:0"></iframe>
        </div>
    </div>
    <h2>Who?</h2>
    <h3>Guests</h3>
    <h3>Supporters</h3>
    <h4>Private Donors</h4>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Level ARCS ($500+)</div>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="donor in donorsARCS">{{donor}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Level A ($250+)</div>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="donor in donorsA">{{donor}}</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Level R ($100+)</div>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="donor in donorsR">{{donor}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Level C ($50+)</div>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="donor in donorsC">{{donor}}</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Level S ($25+)</div>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="donor in donorsS">{{donor}}</li>
                </ul>
            </div>
        </div>
    </div>
    <h2>Events</h2>
    <event event="event" ng-repeat="event in events | orderBy: 'date'"></event>
</div>