<form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post" ng-controller="FilmFestDonate">
    <input type="hidden" name="item_name" value="Romanian Film Festival" />
    <input type="hidden" name="amount" value="{{getSelectedFilmFestivalAmount()}}" />
    <input type="hidden" name="cmd" value="{{recurring ? '_xclick-subscriptions' : '_donations'}}">
    <input type="hidden" name="business" value="otilia.baraboi@arcsproject.org">
    <input type="hidden" name="no_note" ng-if="recurring" value="1" />
    <input type="hidden" name="a3" ng-if="recurring" value="{{getSelectedFilmFestivalAmount()}}" />
    <input type="hidden" name="t3" ng-if="recurring" value="M" />
    <input type="hidden" name="p3" ng-if="recurring" value="1" />
    <input type="hidden" name="src" ng-if="recurring" value="1" />
    <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">

    <div class="form-group">
        <label for="purpose">Amount:</label>
        <div class="list-group">
            <button ng-repeat="amount in filmFestivalAmounts" ng-click="setSelectedFilmFestivalAmount($event, amount)" ng-class="{'active': selectedFilmFestivalAmount == amount, 'minimized-list-button': isItemExpanded(amount)==false}" class="list-group-item">
                <div class="row">
                    <div ng-if="isItemExpanded(amount)==false" class="col-sm-12">
                        <h5><b>{{amount.dollars == "Custom amount" ? amount.visible_value : "$" + amount.dollars}} {{amount.level}}</b></h5>
                    </div>
                    <div ng-if="isItemExpanded(amount)" class="col-sm-12">
                        <h5><b>{{amount.dollars == "Custom amount" ? amount.visible_value : "$" + amount.dollars}} {{amount.level}}</b></h5>
                        <p>{{amount.benefits}}</p>
                    </div>
                </div>
            </button>
        </div>
    </div>
    <div class="checkbox" ng-show="showFilmFestRecurringCheckbox()">
        <label><input type="checkbox" ng-model="recurring">Please check this box if you'd like to make this a recurring monthly donation.</label>
    </div>
    <div class="form-group">
        <input type="submit" alt="" class="btn btn-primary" value="Donate (PayPal)" ng-if="expanded" />
        <input type="submit" alt="" class="btn btn-primary" value="Donate (PayPal)" style="margin:auto;display:block" ng-if="expanded==false" />
    </div>
</form>
