<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Eligibility for participation</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4>​Age and residence</h4>
            <p>The competition is open to current High School students living and studying in the United States. Participants must be enrolled in a High School (public, private, home schooled) during the month of September, the year the award is usually issued – current year 2017 - 2018.</p>
            <h4>Academic</h4>
            <p>Minimum unweighted High School GPA of 3.0 – or equivalent, running average for the last school year.</p>
            <h4>Team work</h4>
            <p>Both individuals and teams can participate in the competition. Participation in teams is encouraged. To encourage leadership and structure, the maximum team size is 5. There are no Romanian or US citizenship requirements. <u>There are no fees required, this competition is entirely free</u> to participate for eligible students.</p>
            <h4>Eligibility for national participation</h4>
            <p>Top 5 winners of the regional competitions advance to the national competition</p>
            <h4>Evaluation criteria</h4>
            <p>The following criteria will be used by the evaluation panels in awarding the prizes. Not all criteria are required, but they will strengthen your chances.</p>
            <div style="padding-left:30px;">
                <b>Community work</b>
                <p>The volume and impact of the volunteering work will be a strong factor in the evaluation. Both the number of hours, but also the impact to the community will be evaluated. Special emphasis will be placed on volunteering work that advances the Romanian language, history and traditions.</p>
                <p>Where applicable and possible, volunteering and community work in Romania, especially working with disadvantaged children, fundraising activities will be considered. Some consideration will be placed on the inclusiveness of the work, working across social and confessional categories in a non-discriminatory manner.</p>
                <p>A description of the community work will be required, including a description of how the community benefited, how the work contributed to the preservation of the language and traditions. The description should be in either Romanian or English, and should not exceed 650 words. The emphasis should be clearly describing the work and its benefits to the community.</p>
                <b>Leadership</b>
                <p>Evaluators will place special emphasis on work that starts new programs with high impact, work on sustaining strong and valued community programs, elected leadership positions. Special consideration will be given to projects with impact outside the immediate community. The description of the work from the above section should include any such leadership activities.</p>
                <b>Essay</b>
                <p>The essay will describe how the community work triggered or contributed to your own personal growth, an understanding of yourself, your personal identity or your understanding of others. We strongly encourage applicants to model their essay from the college application essays in structure and attention to detail. The essay shall have no less than 200 words and no more than 650 words.</p>
                <b>Recommendations from local community leaders</b><br/>
                <p>These recommendations will play a strong role in showing the connection to the community. A formal letter is not required, a name and contact info (email and/or phone number) will be required. The contest organizers will reach out to confirm the recommendations.</p>
                <b>Romanian Heritage Connection</b>
                <p>Formal ethnic Romanian heritage is not required. However, a proven connection to the Romanian culture is advantageous.</p>
                <span>Examples of such connections:</span>
                <ul>
                    <li>Passing an officially recognized Romanian language test – where available</li>
                    <li>An essay (could be supplemental) in the Romanian language</li>
                    <li>Volunteer work in Romania</li>
                    <li>Proven work in support of the Romanian culture in the local community</li>
                </ul>
                The description of work should include information about how the contestant is connected to the Romanian community.
            </div>
        </div>
    </div>
</div>
{{TrackOutboundRequests()}}