<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>2017 Awards</h3>
            <p>The jury has been impressed by the number and quality of the applications. We would like to thank all participants for applying and more importantly for their dedication in support of the Romanian community cohesion. After careful consideration, we are pleased to announce the 2017 award winners. Congratulations to this year's awardees and many thanks for their service to all students who submitted applications.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4>Silvia Calinov - Platinum National Award</h4>
            <p>Silvia received the top national prize for her sustained contribution in service of the Romanian community cohesion in the US and for community service working with children from disadvantaged backgrounds in Romania. Her work for establishing a unique and lasting Romanian language program in Washington state, her three consecutive years of dedicated fund raising and community service in one of the poorest areas in Romania have been recognized with the top award this year.</p>
            <h4>Alex Trufinescu - Gold National Award</h4>
            <p>His volunteer work in Romania working with children from disadvantaged backgrounds  as well as his maturity in his role as communications officer for the Romanian Honorary Consulate in Seattle, where his contribution was essential in getting the right visibility and recognition to the Romanian community in Washington state.</p>
            <h4>Stefan Ene - Silver National Award</h4>
            <p>Stefan won the recognition of the jury through his innovative approach for promoting  Romanian culture and history to the visitors of city of Sinaia, Romanian kings’ summer residence in the past. He partnered with a local NGO, ASPE (“Asociația Socio-Culturală Prahova Excelsior Sinaia”, professor Mariana Cojoc and Claudiu Istrate - president), conducting research, creating content and promoting the history, culture and architecture though urban tours. For this pilot project Stefan worked in team with his brother, <b>Victor Ene</b>.</p>
            <p>The complete list of awardees, including regional winners below.</p>
            <table style="text-align:left;margin:auto;">
                <tr style="background:#4472C4;color:white;font-weight:bold;">
                    <td style="width:25%;padding:5px;">Participant</td>
                    <td style="width:35%;padding:5px;">School</td>
                    <td style="width:25%;padding:5px;">Award</td>
                    <td style="width:15%;padding:5px;">Scholarship</td>
                </tr>
                <tr ng-repeat="awardee in awardees">
                    <td style="padding:0 2px 5px 10px;">{{awardee.name}}</td>
                    <td style="padding:0 2px 5px 10px;">{{awardee.school}}</td>
                    <td style="padding:0 2px 5px 10px;">{{awardee.award}}</td>
                    <td style="padding:0 2px 5px 10px;">{{awardee.scholarship}}</tdstyle="padding:0>
                </tr>
                <tr>
                    <td colspan="4" style="padding-top:10px;">* has declined receiving the monetary award, donated the prize to the follow on</td>
                </tr>
            </table>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-sm-3">
            <a target="_blank" href="https://alianta.org/"><img style="width:100%" src="Resources/Images/heritage/program_1.jpg" /></a>
        </div>
        <div class="col-sm-9">
            Awards handed over at the prestigious Aliata Gala, in the company of six current and former US Ambassadors to Romania, the Romanian Ambassador to US, as well as main event awardees, President George W. Bush (not present), Lt. General Ben Hodges and Prof. Dennis Deletant.
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-3">
            <img style="width:100%" src="Resources/Images/heritage/stage1.jpg" />
        </div>
        <div class="col-sm-9">
            Awardees on stage, from left to right in the background: Cami Simpson, Victor Ene, Stefan Ene, Sofia Constantinescu, Alex Trufinescu, Silvia Calinov and Matei Fawzy.
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-3">
            <img style="width:100%" src="Resources/Images/heritage/pre2.jpg" />
        </div>
        <div class="col-sm-9">
            Current US Ambassador to Romania His Excellency Hans Klemm, with awardees Sofia Constantinescu, Silvia Calinov and Alex Trufinescu at the Alianta Gala 2017.
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-3">
            <img style="width:100%" src="Resources/Images/heritage/stefanvictor1.jpeg" />
        </div>
        <div class="col-sm-9">
            Current US Ambassador to Romania His Excellency Hans Klemm, with awardees Stefan Ene and Victor Ene at the Alianta Gala 2017.
        </div>
    </div>
    <hr />
</div>