<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Romanian American National Heritage Award</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4>Mission</h4>
            <p>The mission of the "Romanian American National Heritage" award is to increase the cohesion of the Romanian community and traditions, and therefore encourage their preservation.</p>
            <h4>Award Purpose</h4>
            <p>The purpose of the award is to encourage youth with Romanian heritage or connections to participate in their local community in a meaningful and lasting manner, work towards preserving the language and traditions, make the Romanian culture known in the US and have that participation formally and publicly recognized.</p>
            <h4>Award Goal</h4>
            <p>The award distinguishes exceptional contributions of youth to increasing the community cohesion, the preservation and dissemination of the Romanian culture and traditions in the United States. Contest organizers are also working to encourage High School age students to apply to college and to proudly show case their heritage in the college admissions process.</p>
        </div>
    </div>
{{TrackOutboundRequests()}}