<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>2018 Registration and competition timeline</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p>
                <div style="float: left;">December 1th, 2017</div>
                <div> - Registration opens</div>
            </p>
            <p>
                <div style="float: left;">July 15, 2018</div>
                <div> - Application deadline</div>
            </p>
            <p>
                <div style="float: left;">August 15th, 2018</div>
                <div> - State and regional winners announced</div>
            </p>
            <p>
                <div style="float: left;">August 20th, 2018</div>
                <div> - National winners announced</div>
            </p>
            <p>
                <div style="float: left;">To be announced</div>
                <div> - Award ceremony at the <a target="_blank" href="https://alianta.org/">2018 Alianta Gala</a></div>
            </p>
        </div>
    </div>
</div>
{{TrackOutboundRequests()}}