<div class="container">
    <h2>Welcome to "Româna la Liceu"!</h2>
    <div class="piticot-row row">
        <div class="col-sm-12">
            
			<h3>2017-2018</h3>
			
			<div class="panel panel-default">
				<div class="panel-body">
					For the ongoing high school classes 2017-2018 please <a ui-sref="high-school-ongoing">visit the dedicated page</a>.
				</div>
			 </div>
			
			<h3>2018-2019</h3>
			
			
            <p>
                <img class="text-inline-img poster rounded pull-right" src="../Resources/Images/highschool1.jpg">
                After two successful years with over forty students getting Romanian language credits on their high school transcripts, "Româna La Liceu" continues this year in an improved format designed to make it more effective for students that are already proficient in Romanian.
            </p>
            <p>
                The teaching team, comprised of instructors Ileana Marin, Otilia Baraboi, and Madalina Tonciu wishes you a successful year.
            </p>
            <p>
                Unique in the US, the program “Româna la Liceu”, launched in 2016 with great success, will include two components: an intensive course of 6 sessions scheduled from October to January and a standard course of 14 sessions from September to April.
            </p>
            <p>
                The course is targeted at students of Romanian heritage in a context dominated by the English language. The teaching will combine traditional methods (reading comprehension and grammar) with more recent ones (integrative and project-based).
            </p>
            <p>
                We invite you to confirm your participation in an evaluation of your level of Romanian by September 1st. The evaluation will take place on September 15, from 9:30 AM - 12:30 PM on the University of Washington campus. The exact location will be announced at a later date. The purpose of this evaluation is the placement of the student in the proper course.
            </p>
            <p>
                If you have not yet paid the registration, please do so as soon as possible. Please send the $20 pre-registration fee before September 15 via PayPal or by check. We also ask that you provide an email address the instructors can use to communicate with you.
            </p>
			<p><a href="https://docs.google.com/forms/d/e/1FAIpQLSfLpGWch9nkicIK7uyWtx_7rJDT5Ft9tfHQLLF04zrxcfJ9wA/viewform?c=0&amp;w=1" target="_blank">Preliminary Registration</a></p>
            <p>
				<strong>
                Looking forward to meeting you!<br/>
                Team "Româna la Liceu"
				</strong>
            </p>
			<div class="well">
            <p>
                Please spread the word about our program and like us on <a title="Facebook like" target="_blank" href="https://www.facebook.com/RomanaLaLiceu">Facebook</a> to stay tuned for more updates and other opportunities to practice Romanian.
				<br/>
                A course packet will be available for a $20 fee.
            </p>
			</div>
        </div>
		<!--
        <div class="col-sm-5">
        </div>
		-->
    </div>
    <h3>Intensive Course</h3>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Who?</div>
                <div class="panel-body">
                    Students placed in the program at the test on September 15, 2018.
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">How much?</div>
                <div class="panel-body">
                    <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                        <input type="hidden" name="item_name" value="Romanian in High School - Intensive Course" />
                        <input type="hidden" name="amount" value="300" />
                        <input type="hidden" name="cmd" value="_donations">
                        <input type="hidden" name="business" value="otilia.baraboi@arcsproject.org">
                        <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                        <input type="submit" class="btn btn-info" value="$300 (PayPal)" /><br /><br />
                        <p>Click to enroll now!</p>
                    </form>
                    <p>Financial aid is available. Please apply, as all applications are considered. We will not turn anyone away.</p>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">When?</div>

                <ul class="list-group">
                    <li class="list-group-item">October 6, 10:00 AM - 1:00 PM</li>
                    <li class="list-group-item">October 20, 10:00 AM - 1:00 PM</li>
                    <li class="list-group-item">November 3, 10:00 AM - 1:00 PM</li>
                    <li class="list-group-item">November 17, 10:00 AM - 1:00 PM</li>
                    <li class="list-group-item">December 1, 10:00 AM - 1:00 PM</li>
                    <li class="list-group-item item-grey">Winter Break</li>
                    <li style="border-bottom: 0;" class="list-group-item">January 12, 10:00 AM - 1:00 PM</li>
                </ul>

                <div class="panel-footer">
                    <p>
                        We recommend that you start talking with your HS counselor about the ALTA test sometime in January to make sure that you will be offered the official test in April 2019.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Where?</div>
                <div class="panel-body">
                    University of Washington, Communications Building 226
                    <div class="row map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2687.453193002911!2d-122.3065842!3d47.6561918!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfdcd1acd1e5380c1!2sCommunications+Building+(CMU)!5e0!3m2!1sen!2sus!4v1504679352350" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <p>
                Checks are welcome. Please address them to:<br />
                <span class="address">American Romanian Cultural Society</span><br />
                <span class="address">1931 E Lynn St</span><br />
                <span class="address">Seattle, WA 98112</span><br />
            </p>
        </div>
    </div>
    <h3>Standard Course</h3>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Who?</div>
                <div class="panel-body">
                    Students placed in the program at the test on September 15, 2018.
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">How much?</div>
                <div class="panel-body">
                    <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                        <input type="hidden" name="item_name" value="Romanian in High School - Standard Course" />
                        <input type="hidden" name="amount" value="600" />
                        <input type="hidden" name="cmd" value="_donations">
                        <input type="hidden" name="business" value="otilia.baraboi@arcsproject.org">
                        <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                        <input type="submit" class="btn btn-info" value="$600 (PayPal)" /><br /><br />
                        Click to enroll now!
                    </form><br />
                    <p><strong>Note:</strong> The fee will be paid in two installments as follows: $300 by November 1, 2018 and the remaining $300 by February 2, 2019</p>
                    <p>Financial aid is available. Please apply, as all applications are considered. We will not turn anyone away.</p>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">When?</div>
                <ul class="list-group">
                    <li class="list-group-item">September 29, 10:00 AM - 12:30 PM</li>
                    <li class="list-group-item">October 13, 10:00 AM - 12:30 PM</li>
                    <li class="list-group-item">October 27, 10:00 AM - 12:30 PM</li>
                    <li class="list-group-item">November 17, 10:00 AM - 12:30 PM</li>
                    <li class="list-group-item">November 24, 10:00 AM - 12:30 PM</li>
                    <li class="list-group-item">December 8, 10:00 AM - 12:30 PM</li>
                    <li class="list-group-item item-grey">Winter Break</li>
                    <li class="list-group-item">January 12, 10:00 AM - 12:30 PM</li>
                    <li class="list-group-item">January 26, 10:00 AM - 12:30 PM</li>
                    <li class="list-group-item">February 9, 10:00 AM - 12:30 PM</li>
                    <li class="list-group-item">March 2, 10:00 AM - 12:30 PM</li>
                    <li class="list-group-item">March 16, 10:00 AM - 12:30 PM</li>
                    <li class="list-group-item">March 20, 10:00 AM - 12:30 PM</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Where?</div>
                <div class="panel-body">
                    University of Washington, Communications Building 228
                    <div class="row map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2687.453193002911!2d-122.3065842!3d47.6561918!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfdcd1acd1e5380c1!2sCommunications+Building+(CMU)!5e0!3m2!1sen!2sus!4v1504679352350" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <p>
                Checks are welcome. Please address them to:<br />
                <span class="address">American Romanian Cultural Society</span><br />
                <span class="address">1931 E Lynn St</span><br />
                <span class="address">Seattle, WA 98112</span><br />
            </p>
        </div>
    </div>
    <h3 class="h3_margins">Instructors</h3>
    <div ng-repeat="instructor in instructors">
        <div class="row">
            <div class="col-sm-3">
                <img class="media-object img-portrait" src="../Resources/Images/{{instructor.imagePath}}" alt="Image of {{instructor.name}}">
            </div>
            <div class="col-sm-9">
                <h4 class="media-heading">{{instructor.name}}</h4>
                <h5><a ng-href="mailto:{{instructor.email}}">{{instructor.email}}</a></h5>
                <p>{{instructor.details}}</p>
            </div>
        </div>
    </div>
    <h3 class="h3_margins">Substitute Teachers</h3>
    <div ng-repeat="instructor in substitutes">
        <div class="row">
            <div class="col-sm-3">
                <img ng-if="instructor.imagePath" class="media-object img-portrait" src="../Resources/Images/{{instructor.imagePath}}" alt="Image of {{instructor.name}}">
            </div>
            <div class="col-sm-9">
                <h4 class="media-heading">{{instructor.name}}</h4>
                <h5 ng-if="instructor.email"><a ng-href="mailto:{{instructor.email}}">{{instructor.email}}</a></h5>
                <p>{{instructor.details}}</p>
            </div>
        </div>
    </div>
</div>