<div id="mainCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
    <ol class="carousel-indicators">
        <li data-target="#mainCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#mainCarousel" data-slide-to="1"></li>
        <li data-target="#mainCarousel" data-slide-to="2"></li>
        <li data-target="#mainCarousel" data-slide-to="3"></li>
        <li data-target="#mainCarousel" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active" id="mainCarousel-maryhill-container">
            <a href="cultural-festival-maryhill">
                <img id="mainCarousel-maryhill" src="../Resources/Images/main_page/maryhill_1300x312.png" alt="Romanian Cultural Festival at Maryhill Museum" />
            </a>
        </div>
        <div class="item">
            <a href="summer-camp">
                <img id="mainCarousel-summer-camp2" src="../Resources/Images/main_page/summer_camp_2_1300x312.jpg?cookie=124" alt="ARCS Summer Camp" />
            </a>
        </div>
        <div class="item" id="mainCarousel-excelence-center-container">
            <a href="excellence-center">
                <img id="mainCarousel-excelence-center" src="../Resources/Images/excellence/BNNExcellence_1300x312.jpg" alt="The Center of excellence Romanian In Action" />
            </a>
        </div>
        <div class="item" id="mainCarousel-bnexpo-container">
            <img id="mainCarousel-bnexpo" src="../Resources/Images/main_page/BN_expo_1300x312.jpg" alt="Special Event: Art exhibit by Daniel Urasche" />
        </div>
        <div class="item">
            <a href="film-festival">
                <img id="mainCarousel-filmfest" src="../Resources/Images/film_festival/BNNFEST_1300x312.jpg" alt="ARCS presents: The Romanian Film Festival Seattle (5h edition)" />
            </a>
        </div>
    </div></div>