<!--<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <h2>The center of excellence</h2>
                <p>Are you interested in stimulating your child’s creativity by nourishing her/his bicultural and bilingual background?</p>
                <p><a class="btn btn-primary" ui-sref="excellence-center" role="button">Details</a></p>
            </div>
            <div class="col-sm-7">
                <img class="jumbotron-image" src="../Resources/Images/centre_of_excellence_banner.jpg" alt="The center of excellence">
            </div>
        </div>
    </div>
</div>
-->

<div id="mainCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#mainCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#mainCarousel" data-slide-to="1"></li>
        <li data-target="#mainCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img id="mainCarousel-siff" src="../Resources/Images/siff_content/siff2018_1300x312.jpg" alt="ARCS presents: The Romanian Film Festival Seattle (5h edition)" />
        </div>
        <div class="item">
            <a href="film-festival">
                <img id="mainCarousel-filmfest" src="../Resources/Images/film_festival/BNNFEST_1300x312.jpg" alt="ARCS presents: The Romanian Film Festival Seattle (5h edition)" />
            </a>
        </div>
        <div class="item" id="mainCarousel-excelence-center-container">
            <a href="excellence-center">
                <img id="mainCarousel-excelence-center" src="../Resources/Images/excellence/BNNExcellence_1300x312.jpg" alt="The Center of excellence Romanian In Action" />
            </a>
        </div>
    </div>
</div>
<!--
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h2>Romanian Film Festival</h2>
                <p>4<sup>th</sup> edition of the Romanian Film Festival in Seattle at the SIFF Cinema Uptown.</p>
                <p>November 17-19, 2017</p>
                <p><a class="btn btn-primary" ui-sref="film-festival" role="button">Details</a></p>
            </div>
            <div class="col-sm-5">
                <img class="jumbotron-image" src="../Resources/Images/fest.jpg" alt="Film festival poster">
            </div>
        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h2>Lucian Ban & Elevation: Songs from Afar</h2>
                <p>Friday, November 10, 2017, 7:30 PM</p>
                <p><a class="btn btn-primary" ui-sref="songs-from-afar" role="button">Details</a></p>
            </div>
            <div class="col-sm-5">
                <img class="jumbotron-image" src="../Resources/Images/concert.jpg" alt="Film festival poster">
            </div>
        </div>
    </div>
</div>
-->