<div id="mainCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
    <ol class="carousel-indicators">
        <li data-target="#mainCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#mainCarousel" data-slide-to="1"></li>
        <li data-target="#mainCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active" id="mainCarousel-excelence-center-2019-container">
            <a href="excellence-center">
                <img id="mainCarousel-excelence-center-2019" src="../Resources/Images/excellence/BNNExcellence_2019_1300x312.jpg" alt="The Center of excellence Romanian In Action" />
            </a>
        </div>
        <div class="item">
            <a href="summer-camp">
                <img id="mainCarousel-summer-camp-2019" src="../Resources/Images/summer_camp_2019/main_page_desktop.png" alt="ARCS Summer Camp 2019" />
            </a>
        </div>
        <div class="item">
            <a href="film-festival">
                <img id="mainCarousel-filmfest" src="../Resources/Images/film_festival/BNNFEST_1300x312.jpg" alt="ARCS presents: The Romanian Film Festival Seattle (5h edition)" />
            </a>
        </div>
    </div></div>