<div class="panel panel-primary mission">
    <div class="panel-heading">
        <h3 class="panel-title">{{$ctrl.statement.title}}</h3>
    </div>
    <div class="panel-body">
        <div class="media">
            <div class="media-left">
                <img class="media-object" src="../Resources/Images/{{$ctrl.statement.imagePath}}" alt="Image for {{$ctrl.statement.title}}">
            </div>
            <div class="media-body">
                <p ng-repeat="line in $ctrl.statement.description">{{line}}</p>
            </div>
        </div>
    </div>
</div>