<div class="container">
    <h2>Our Mission</h2>
    <p>The American Romanian Cultural Society (ARCS) is a non-profit organization striving to promote a better understanding of the culture and traditions of Central and Eastern Europe, with an emphasis on Romania and the American Romanian cultural heritage in the Seattle area.</p>
    <p>To fulfill its mission, ARCS will organize and popularize community building events through which the public will learn about, participate in, and celebrate the cultural, ethnic, linguistic and religious diversity of Romania and of the American Romanian community of the Pacific Northwest and North America, in general. In so doing, ARCS will reach out to and collaborate with other cultural organizations in the United States, Canada, or within the European Union, as well as with Romanian governmental, private, and non-profit organizations.</p>
    <p>ARCS will develop community building projects and events in the following areas:</p>

    <mission-statement statement="statement" ng-repeat="statement in statements"></mission-statement>
</div>