<div ng-if="DataLoaded != true" class="sk-circle">
    <div class="sk-circle1 sk-child"></div>
    <div class="sk-circle2 sk-child"></div>
    <div class="sk-circle3 sk-child"></div>
    <div class="sk-circle4 sk-child"></div>
    <div class="sk-circle5 sk-child"></div>
    <div class="sk-circle6 sk-child"></div>
    <div class="sk-circle7 sk-child"></div>
    <div class="sk-circle8 sk-child"></div>
    <div class="sk-circle9 sk-child"></div>
    <div class="sk-circle10 sk-child"></div>
    <div class="sk-circle11 sk-child"></div>
    <div class="sk-circle12 sk-child"></div>
</div>
<div ng-if="DataLoaded" class="container">
    <h2>Mission</h2>
    <p>Our mission is to create social change through film, art and education. With a focus on Romanian heritage, we promote projects that build bridges between Eastern European cultures on the West Coast.</p>
    <h2>ARCS Values</h2>
    <ul>
        <li>Act for social change and justice</li>
        <li>Respect Romanian heritage, culture, and language</li>
        <li>Create dialogue and friendships</li>
        <li>Stand up for our values</li>
    </ul>
    <h2>Vision</h2>
    <p>Our vision is to connect generations and cultures to give hope and access to one's full potential. We believe in the power of the arts and education to open minds, overcome cultural barriers, and encourage creativity. Inspired by Romanians who challenged the limitations of their own time, ARCS will support innovative projects that ignite confidence and pride in our future.</p>
    <h2>What we do</h2>
    <ul>
        <li>Organize the Romanian Film Festival at SIFF Uptown Cinema</li>
        <li>Sponsor Romanian films and artists as part of the annual Seattle International Film Festival</li>
        <li>Promote visual artists of Romanian and Eastern European heritage</li>
        <li>Organize cultural events, including artistic performances, concerts, book signings, lectures</li>
        <li>Create innovative education programs for learners of Romanian origin or with an interest in Romania</li>
        <li>Develop partnerships, programs and cultural exchanges with local, national, Romanian and other European institutions that share our values</li>
    </ul>
</div>
{{TrackOutboundRequests()}}