<div ng-if="DataLoaded != true" class="sk-circle">
    <div class="sk-circle1 sk-child"></div>
    <div class="sk-circle2 sk-child"></div>
    <div class="sk-circle3 sk-child"></div>
    <div class="sk-circle4 sk-child"></div>
    <div class="sk-circle5 sk-child"></div>
    <div class="sk-circle6 sk-child"></div>
    <div class="sk-circle7 sk-child"></div>
    <div class="sk-circle8 sk-child"></div>
    <div class="sk-circle9 sk-child"></div>
    <div class="sk-circle10 sk-child"></div>
    <div class="sk-circle11 sk-child"></div>
    <div class="sk-circle12 sk-child"></div>
</div>
<div ng-if="DataLoaded" class="container">
    <h2>Our Mission</h2>
    <p>The Seattle-based non-profit American Romanian Cultural Society (ARCS) promotes a better understanding of Romania's rich culture and traditions by organizing community-building educational, visual, performance, and literary arts events.</p>
    <h3>Our Programs and Events</h3>
    <mission-statement statement="statement" ng-repeat="statement in statements"></mission-statement>
</div>