<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img alt="Logo" src="Resources/Images/logo.png" />
            </a>
        </div>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Heritage Programs <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Teens</a></li>
                        <li><a href="#">Kids</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="events">Film</a></li>
                        <li><a href="#">Stage</a></li>
                        <li><a href="#">Community</a></li>
                        <li><a href="#">Work</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="sponsors">Sponsors</a></li>
                        <li><a ui-sref="staff">Staff</a></li>
                        <li><a href="#">Partners</a></li>
                        <li><a href="#">Mission</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Press <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Press Releases</a></li>
                        <li><a href="#">Press Photos</a></li>
                        <li><a href="#">Archives</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><button type="button" class="btn btn-success navbar-btn">Donate</button></li>
            </ul>
        </div>
    </div>
</nav>