<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img alt="Logo" src="Resources/Images/logo.png" />
            </a>
        </div>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Education <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="summer-camp">ARCS Summer Camp 2018</a></li>
                        <li><a ui-sref="high-school">Kids 14 and up<br />(Romanian in High School)</a></li>
                        <li><a ui-sref="excellence-center">The Center of Excellence<br />(Romanian in Action)</a></li>
                        <li><a ui-sref="piticot">Kids 13 and under<br />(Club Piticot)</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="events({filterBy: 'All'})">All</a></li>
                        <li><a ui-sref="events({filterBy: 'Film'})">Film</a></li>
                        <li><a ui-sref="events({filterBy: 'Stage'})">Stage</a></li>
                        <li><a ui-sref="events({filterBy: 'Community'})">Community</a></li>
                        <li><a ui-sref="events({filterBy: 'Work'})">Work</a></li>
                        <li><a ui-sref="past-events">Past Events</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Heritage Award<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="heritage-mission">Our Mission</a></li>
                        <li><a ui-sref="heritage-competition-rules">Competition Rules</a></li>
                        <li><a ui-sref="heritage-application">Submit Your Application</a></li>
                        <li><a ui-sref="heritage-contest-2018">2018 Contest Timeline</a></li>
                        <li><a ui-sref="heritage-awards-2017">2017 Awards</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="mission">Mission</a></li>
                        <li><a ui-sref="staff">Team</a></li>
                        <li><a ui-sref="alumni">Alumni</a></li>
                        <li><a ui-sref="partners">Partners</a></li>
                        <li><a ui-sref="consulate_en">Romanian Honorary Consulate</a></li>
                        <li><a ui-sref="press">Press</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Connect<span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="contact-dropdown">
                        <li><a ui-sref="donate">Support us</a></li>
                        <li><a target="_blank" href="http://eepurl.com/dfwd9z">Mailing list</a></li>
                        <li><a ui-sref="contact">Contact us</a></li>
                        <li><a href="https://www.facebook.com/ARCSPROJECT/" target="_blank">Facebook</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" type="button" class="btn btn-info navbar-btn" id="donate-button" ui-sref="donate">Support Us</a></li>
            </ul>
        </div>
    </div>
</nav>