<div class="container partners">
    <h2>Partners</h2>
    <div class="row">
        <div class="col-sm-6 col-md-4" ng-repeat="partner in sponsors">
            <a href="{{partner.link}}" class="thumbnail" target="_blank">
                <img ng-src="../Resources/Images/{{partner.imagePath}}" alt="Logo for {{partner.link}}" class="sponsor-image">
            </a>
        </div>
    </div>
    <h3>Local and International Artists, Friends, and Supporters</h3>
    <div class="row list-group">
        <a ng-repeat="partner in artists" ng-href="{{partner.link}}" class="list-group-item" target="_blank">{{partner.name}}</a>
    </div>
    <h3>Local Romanian Churches</h3>
    <div class="row list-group">
        <a ng-repeat="partner in churches" ng-href="{{partner.link}}" class="list-group-item" target="_blank">{{partner.name}}</a>
    </div>
    <h3>Local Romanian Associations</h3>
    <div class="row list-group">
        <a ng-repeat="partner in associations" ng-href="{{partner.link}}" class="list-group-item" target="_blank">{{partner.name}}</a>
    </div>
    <h3>Local Businesses</h3>
    <div class="row list-group">
        <a ng-repeat="partner in businesses" ng-href="{{partner.link}}" class="list-group-item" target="_blank">{{partner.name}}</a>
    </div>
    <h3>International Resources</h3>
    <div class="row list-group">
        <a ng-repeat="partner in international" ng-href="{{partner.link}}" class="list-group-item" target="_blank">{{partner.name}}</a>        
    </div>
</div>