<div class="container">
    <h2>Club Piticot</h2>
    <h4 class="mission-statement"><i>A Romanian Heritage Program for Children (Ages 3-13)</i></h4>
    <h3>Program Coordinator</h3>
    <div class="row">
        <div class="col-sm-3">
            <img class="media-object" src="../Resources/Images/IMG_20170904_182543.jpg" alt="Image of Elizabeta Iliescu">
        </div>
        <div class="col-sm-9">
            <h4 class="media-heading">Elizabeta Iliescu<span class="spacer">|</span>Children's Program Coordinator</h4>
            <h5><a ng-href="mailto:elizabeta.iliescu@arcsproject.org">elizabeta.iliescu@arcsproject.org</a></h5>
            <p>Elizabeta was born in Northern Romania where she grew up very attached to her grandparents. After high school, she moved to Bucharest where she studied physics and worked for an insurance company. She moved to the US with her family in 2008, and spent a few years just playing with her kids. The love of being around children made her look for opportunities to work with them. She worked and volunteered in different early childhood education programs. She is currently working with Bellevue School District in its Early Learning Programs. She obtained an AAS-T in Early Childhood Careers and is enrolled for a BA in Mathematics.</p>
        </div>
    </div>
    <div class="piticot-row row">
        <div class="col-sm-7">
            <h3>Objectives and Scope</h3>
            <ul>
                <li>Address the needs of the Romanian community in the Greater Bellevue and Seattle Area</li>
                <li>Target a foundational demographic (preschool and grade school) for preserving Romanian heritage in the PNW</li>
                <li>Build on and extends ARCS's existing educational and heritage programs</li>
            </ul>
            <h3>Program Benefits/Goals</h3>
            <ul>
                <li>Supports children and their families in developing communication skills in Romanian and preserves their cultural heritage</li>
                <li>Foundational program for developing reading and writing ability in Romanian</li>
                <li>Lays the groundwork for formal language learning; early-childhood bilingualism puts future students on track for getting Washington State’s Seal of Biliteracy Certification</li>
                <li>Fosters cultural sensitivity, respect for heritage cultures, and the cultural diversity of the PNW</li>
                <li>Offers linguistic and cultural continuity for the Romanian community in Washington State</li>
                <li>Open to families of all cultural backgrounds that would like to explore the Romanian language and culture</li>
            </ul>
        </div>
        <div class="col-sm-5">
            <img class="poster" src="../Resources/Images/Club-Piticot2.jpg" />
        </div>
    </div>
    <div class="piticot-row row">
        <div class="col-sm-7">
            <h3>Program Structure</h3>
            <p>
                <ul>
                    <li>Monthly meetings (Saturday afternoons are preferred), approximately 2 to 2.5 hours</li>
                    <li>Work in age-appropriate groups (children will be split in 2 to 3 small groups based on their age)</li>
                    <li>Program relies on a close collaboration with the parents, who will be an active part of the club</li>
                </ul>
                Activities will include:
                <ul>
                    <li>Reading stories: Romanian folk literature and Romanian authors</li>
                    <li>Singing songs, nursery rhymes, performing sketches</li>
                    <li>Playing games</li>
                    <li>Arts and crafts</li>
                </ul>
                Materials:
                <ul>
                    <li>Books</li>
                    <li>Worksheets</li>
                    <li>Flashcards</li>
                    <li>Board games</li>
                    <li>Puppets</li>
                    <li>Other safe and age-appropriate materials</li>
                </ul>
            </p>
        </div>
        <div class="col-sm-5">
            <img class="poster" src="../Resources/Images/piticot.jpg" />
            <p>Photo by Daniel Man</p>
        </div>
    </div>
    <h3>Collaboration with Bellevue Library and KCLS</h3>
    <p>We value KCLS efforts and mission to promote safe spaces for community-building and inter-cultural dialogue.</p>
    <p>
        Past collaborations between ARCS and Bellevue Library include events such as:
        <ul>
            <li>"Romanian American Cultural Intersections" in 2015</li>
            <li>The 2nd Generation Awards Gala and Photo Exhibit in 2016 (2017 TBA)</li>
        </ul>
    </p>
    <p>The Romanian Community of the Greater Seattle Area is concentrated in and around Bellevue, Redmond, and Kirkland. By hosting Club Piticot, Bellevue library will provide much-needed support and a welcoming, conveniently-located meeting space to an underrepresented cultural minority in King County.</p>
</div>

