<div ng-if="DataLoaded != true" class="sk-circle">
    <div class="sk-circle1 sk-child"></div>
    <div class="sk-circle2 sk-child"></div>
    <div class="sk-circle3 sk-child"></div>
    <div class="sk-circle4 sk-child"></div>
    <div class="sk-circle5 sk-child"></div>
    <div class="sk-circle6 sk-child"></div>
    <div class="sk-circle7 sk-child"></div>
    <div class="sk-circle8 sk-child"></div>
    <div class="sk-circle9 sk-child"></div>
    <div class="sk-circle10 sk-child"></div>
    <div class="sk-circle11 sk-child"></div>
    <div class="sk-circle12 sk-child"></div>
</div>
<div ng-if="DataLoaded" class="container">
    <h2>Team</h2>
    <h3>Board Members</h3>
    <p>Our Board of Directors assembles American citizens of Romanian descent and Americans of many cultural and professional backgrounds with valuable lifetime experience and expertise in non-profit management, community outreach programs, and cross-cultural dialogue.</p>
    <div ng-repeat="member in boardMembers">
        <div class="row">
            <div class="col-sm-3">
                <img class="media-object staff-img" src="../Resources/Images/{{member.imagePath}}" alt="Image of {{member.name}}">
            </div>
            <div class="col-sm-9">
                <h4 class="media-heading">{{member.name}}<span class="spacer">|</span>{{member.title}}</h4>
                <h5><a ng-href="mailto:{{member.email}}">{{member.email}}</a></h5>
                <p>{{member.details}}</p>
            </div>
        </div>
        <hr />
    </div>
    <h3 class="extra-margin">Advisory Board</h3>
    <div ng-repeat="member in advisoryBoard">
        <div class="media">
            <div class="col-sm-3">
                <img class="media-object staff-img" src="../Resources/Images/{{member.imagePath}}" alt="Image of {{member.name}}">
            </div>
            <div class="col-sm-9">
                <h4 class="media-heading">{{member.name}}<span class="spacer" ng-if="member.title">|</span>{{member.title}}</h4>
                <h5 ng-if="member.email"><a ng-href="mailto:{{member.email}}">{{member.email}}</a></h5>
                <p>{{member.details}}</p>
            </div>
        </div>
        <hr />
    </div>
</div>