<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <img style="padding-bottom:10px;display:block;margin:auto;max-width:300px; width:60vw;" src="../Resources/Images/summer_camp.png" alt="ARCS Summer Camp" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div>
                <h4>Dates &amp; Times</h4>
                <p>Monday to Friday, 10 AM – 2 PM July 23 – August 3, 2018</p>
                <p> August 5 – Movie Premiere Night and Special Screening of the Completed Documentary</p>
            </div>
            <div>
                <h4>Location</h4>
                <p>University of Washington, Seattle Campus</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4>American Romanians, Meet Romania! Be a Movie Star in a Documentary about <b>YOU</b>!</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p>Far away, across the Atlantic…. in the very heart of Europe, there is a beautiful country, called Romania. Ready to embark on a virtual trip to discover it? Ready to find out more about the deep mysterious forests and caves of the Carpathian Mountains, and the fantastic creatures that inhabit them? Would you like to learn about the Danube Delta, the best-preserved river delta in Europe, with its wild horses and fascinating ecosystems? Do you dream about old time battles, castles, superheroes and famous historical figures? Would you like to unravel the truth behind the Hollywood legend of Vlad Dracula? Do you love Romanian traditional costumes and delicious food?</p>
            <p>Be the star of your own story of discovery! You will act in theatre scenes, design your own costumes, paint, cook, play, be interviewed like a movie star, as well as learn basic acting, script-writing, directing and filmmaking skills. If the film industry makes you dream, this is an <b>ONCE-IN-A-LIFETIME</b> opportunity to work closely with Romanian specialists in the field, award-winning actress Ioana Flora and director Iulia Rugină. And most of all, <b>HAVE FUN</b> and make new friends!</p>
            <p>All the family will come together at the end and watch you on the big screen in a documentary about your adventure, entitled <b>"Romanian in Seattle"</b>! The documentary will be distributed throughout different Romanian communities in the US, Europe and in Romania. <b>EMBRACE</b> your identity, <b>LET</b> the world know about <b>YOUR</b> story as a Romanian American, <b>BE</b> a source of inspiration for all the children with bilingual and bicultural heritage.</p>
            <h4>Who It’s For</h4>
            <p>We welcome Romanian speaking children and youth between the ages of 8-16, willing to attend different activities for 4 hours a day, for a total of 10 days with a weekend break.  (Course limit: 20 students)</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p><h4>Instructors</h4></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <img class="img-summer-camp media-object guest" src="../Resources/Images/excellence/IoanaFlora.jpg" alt="Ioana Flora" />
        </div>
        <div class="col-sm-10">
            <p><b>Ioana Flora</b> is one of the most appreciated Romanian actresses, appearing in films, television, on stage, also having been awarded for many roles. Being a mother of two, Ioana has been actively involved in children’s performances, personal development workshops for both children and adults and training programs in film and theatre.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <img class="img-summer-camp media-object guest" src="../Resources/Images/excellence/IuliaRugina.jpg" alt="Iulia Rugină" />
        </div>
        <div class="col-sm-10">
            <p><b>Iulia Rugină</b> is a Romanian film director and screenwriter, with a portfolio of 12 short films and 3 feature films that have been screened around the world. She is highly involved in education, having worked with children and teenagers for the last 11 years in areas such as film, theatre, photography, film editing. Apart from being involved in all camp activities, she will be in charge of putting together a short documentary about the process, starring everyone involved.</p>
        </div>
    </div>
</div>
