<div class="container">
    <div class="row">
        <img class="poster" src="../Resources/Images/summer_camp_2019/BannerDesktopSummerCamp2.png" />
    </div>
    <div class="row" style="margin-top:40px;">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">ARCS Summer Camp 2019 - ROMANIAN ROLE MODELS</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-7">
                            <p>
                                <span style="font-size:large">
                                    American Romanians, find your Hollywood vision of Romania!
                                    Become a movie star, a screenwriter, a director, cinematographer,
                                    editor, producer and present your film to the world!
                                </span>
                            </p>
                            <p>
                                Be the star of your own story of discovery!
                                You will act in film scenes, design your set and costumes, shoot your story like a pro and learn basic acting,
                                script-writing, directing and filmmaking skills.
                                You will learn about Romanian super-heroes who changed world history
                                with their courage, vision and talent, such as Queen Marie of Romania,
                                Ana Aslan, Geta Brătescu, Henri Coandă, Petrache Poenaru, Constantin Brâncuși
                                and many others.
                            </p>
                            <p>
                                We are inviting you to join us on an amazing field trip to Maryhill Museum,
                                the only museum dedicated to Queen Marie’s visit to the Pacific Northwest in 1927.
                                The field trip will take place on Saturday, July 20.
                                A guided visit and fun activities will help you discover the Queen Marie collection!
                                The field trip is optional and the cost is not included in ARCS Summer Camp fee.
                            </p>
                            <p>
                                If the film industry makes you dream, this is an <strong>ONCE-IN-A-LIFETIME</strong>
                                opportunity to work closely with Romanian specialists in the field, award-winning actress <strong>Ioana Flora</strong>
                                and director <strong>Iulia Rugină</strong>. As an exciting addition to our program, this year you
                                will have access to Seattle International Film Festival (SIFF) editing lab and staff, who will join ARCS team to help you finalize
                                your films. And most of all, you’ll <strong>HAVE GREAT FUN</strong> and make new friends!
                                <strong>EMBRACE</strong> your identity, <strong>LET</strong> the world know about <strong>YOUR</strong>
                                story as a Romanian American, <strong>BE</strong> a source of inspiration for all the children with bilingual and bicultural heritage!
                            </p>
                            <p>
                                Your entire family will come together at the end of the camp to watch your films on the big screen and celebrate your talent!
                                <strong>
                                Your films will be present at the 6th edition of the Romanian Film Festival in Seattle!</strong>
                            </p>
                        </div>
                        <div class="col-sm-5">
                            <img class="poster rounded" src="../Resources/Images/summer_camp_2019/img1.png" alt="ARCS Summar Camp 2019" title="ARCS Summar Camp 2019">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Who It’s For</div>
                <div class="panel-body">
                    <p>
                        We welcome Romanian speaking children and youth between
                        the ages of 8-12, willing to attend different activities for 4 hours a day,
                        for a total of 10 days with a weekend break. (Course limit: 20 students)
                    </p>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">Dates &amp; Times</div>
                <div class="panel-body">
                    <p>Monday to Friday, 10 AM - 2 pm</p>
                    <p>July 15 - 26, 2019</p>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">Memories from ARCS Summer Camp 1st Edition</div>
                <div class="panel-body">
                    <iframe id="film" src="https://player.vimeo.com/video/336183149?color=000&title=0&byline=0&badge=0&portrait=0" width="100%" height="320" color="#fff" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Location</div>
                <div class="panel-body">
                    <div class="row map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2687.49728701565!2d-122.30570858463643!3d47.65533507918789!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x549014929d8535eb%3A0x6b742c7901b82ba3!2sUniversity+of+Washington!5e0!3m2!1sen!2sus!4v1551044149659" width="600" height="450" frameborder="0" style="border:0" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Instructors</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <img class="img-summer-camp media-object guest" src="../Resources/Images/excellence/IoanaFlora.jpg" alt="Ioana Flora" />
                        </div>
                        <div class="col-sm-10">
                            <p><b>Ioana Flora</b> is one of the most appreciated Romanian actresses, appearing in films, television, on stage, also having been awarded for many roles. Being a mother of two, Ioana has been actively involved in children’s performances, personal development workshops for both children and adults and training programs in film and theatre.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <img class="img-summer-camp media-object guest" src="../Resources/Images/excellence/IuliaRugina.jpg" alt="Iulia Rugină" />
                        </div>
                        <div class="col-sm-10">
                            <p><b>Iulia Rugină</b> is a Romanian film director and screenwriter, with a portfolio of 12 short films and 3 feature films that have been screened around the world. She is highly involved in education, having worked with children and teenagers for the last 11 years in areas such as film, theatre, photography, film editing. Apart from being involved in all camp activities, she will be in charge of putting together a short documentary about the process, starring everyone involved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Registration steps</div>
                <div class="panel-body registration-summer-camp">
                    <h4 style="margin-top:0px;"><strong>Registration Form:</strong></h4>
                    <p>In order to offer the participants the best possible Summer Camp experience, we will need the registration forms completed <strong>by June 1st</strong></p>
                    <p><a href="https://goo.gl/forms/AemHlvBlGfqFT7mM2" target="_blank" class="btn btn-info-summer-camp btn-info">Registration Form</a></p>
                    <h4><strong>Fee:</strong></h4>
                    <p>
                        The fee for the entire Summer Camp is $700 ($350/week).
                        The participation fee will cover the venue, course materials, technical needs, as well as the instructors' travel expenses, lodging, and food.
                    </p>
                    <h4><strong>Scholarships:</strong></h4>
                    <p>We are offering full or partial scholarships. Please fill out the following form to apply for a scholarship, <strong>before May 31</strong>:</p>
                    <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSf6nb_5hZoKyNPGs71xXH81-_7po1hjFmBLQboCo5kB14_Qcw/viewform?fbclid=IwAR3xUgBPq_2b3TUDwsamfm1yH28attVLhNZ0_LCKLBtFRRHT97JHgg6DDDM" target="_blank" class="btn btn-info-summer-camp btn-info">Scholarship Application</a></p>
                    <h4><strong>Payment:</strong></h4>
                    <p><strong>Option 1</strong></p>
                    <p>If you pay full tuition <strong>until May 31</strong> you get a discount of $100.</p>
                    <p>
                        <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                            <input type="hidden" name="item_name" value="Romanian in Action-Center of Excellence" />
                            <input type="hidden" name="amount" value="600" />
                            <input type="hidden" name="cmd" value="_xclick">
                            <input type="hidden" name="add" value="" />
                            <input type="hidden" name="business" value="otilia.baraboi@arcsproject.org">
                            <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                            <input type="submit" class="btn btn-info-summer-camp btn-info" value="EARLY BIRD $600" />
                        </form>
                    </p>
                    <p><strong>Option 2</strong></p>
                    <p>Choose to pay in 2 installments of $350 by the following dates, or just one $350 fee for one week of Summer Camp:</p>
                    <p>1st payment <strong>by June 9</strong></p>
                    <p>
                        <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                            <input type="hidden" name="item_name" value="Romanian in Action-Center of Excellence" />
                            <input type="hidden" name="amount" value="350" />
                            <input type="hidden" name="cmd" value="_xclick">
                            <input type="hidden" name="add" value="" />
                            <input type="hidden" name="business" value="otilia.baraboi@arcsproject.org">
                            <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                            <input type="submit" class="btn btn-info-summer-camp btn-info" value="$350" />
                        </form>
                    </p>
                    <p>2nd payment <strong>by July 9</strong></p>
                    <p>
                        <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                            <input type="hidden" name="item_name" value="Romanian in Action-Center of Excellence" />
                            <input type="hidden" name="amount" value="350" />
                            <input type="hidden" name="cmd" value="_xclick">
                            <input type="hidden" name="add" value="" />
                            <input type="hidden" name="business" value="otilia.baraboi@arcsproject.org">
                            <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                            <input type="submit" class="btn btn-info-summer-camp btn-info" value="$350" />
                        </form>
                    </p>
                    <p><strong>Option 3</strong></p>
                    <p>We are offering substantial discounts if the participants are siblings.</p>
                    <p>
                        <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                            <input type="hidden" name="item_name" value="Romanian in Action-Center of Excellence" />
                            <input type="hidden" name="amount" value="680" />
                            <input type="hidden" name="cmd" value="_xclick">
                            <input type="hidden" name="add" value="" />
                            <input type="hidden" name="business" value="otilia.baraboi@arcsproject.org">
                            <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                            <input type="submit" class="btn btn-info-summer-camp btn-info" value="First child: $680" />
                        </form>
                    </p>
                    <p>
                        <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                            <input type="hidden" name="item_name" value="Romanian in Action-Center of Excellence" />
                            <input type="hidden" name="amount" value="595" />
                            <input type="hidden" name="cmd" value="_xclick">
                            <input type="hidden" name="add" value="" />
                            <input type="hidden" name="business" value="otilia.baraboi@arcsproject.org">
                            <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                            <input type="submit" class="btn btn-info-summer-camp btn-info" value="Second child: $595" />
                        </form>
                    </p>
                    <p>If you would like to discuss different payment methods please contact us at <a href="mailto:contact@arcsproject.org">contact@arcsproject.org</a>.</p>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Volunteer Opportunities</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <p>
                                We need volunteers to help us coordinate our the following SUMMER CAMP activities:
                                <ul>
                                    <li>
                                        Logistics:
                                        <ul>
                                            <li>Help with the sign-in &amp; sign-out sheets and contracts</li>
                                            <li>Help out during class time</li>
                                            <li>Help out setting up and cleaning up the facility</li>
                                            <li>Bring drinks and snacks</li>
                                            <li>Help organize the final screening and celebration</li>
                                        </ul>
                                    </li>
                                    <li>
                                        Photography:
                                        <ul>
                                            <li>Take pictures</li>
                                            <li>Edit Pictures</li>
                                        </ul>
                                    </li>
                                </ul>
                            </p>
                            <p>You can email <a href="mailto:otilia.baraboi@arcsproject.org">Otilia Baraboi at otilia.baraboi@arcsproject.org</a> if you have specific questions or register online if you would like to volunteer (<strong>deadline June 15</strong>).</p>
                            <p><a href="https://goo.gl/forms/9byWqoCkLMqisEER2" target="_blank" class="btn btn-info-summer-camp btn-info">Registration Form- Summer Camp Volunteer Opportunities</a></p>
                        </div>
                        <div class="col-sm-6">
                            <img class="poster rounded" src="../Resources/Images/summer_camp_2019/img2.png" alt="Volunteer Opportunities" title="Volunteer Opportunities" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary" style="background-color:transparent;">
                <div class="panel-heading">ARCS Partners</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4 col-md-4">
                            <a href="http://www.controln.ro/asociatia-culturala/en/" class="thumbnail" style="position:relative" target="_blank">
                                <img src="../Resources/Images/summer_camp_2019/controln.png" alt="ControlN logo" class="sponsor-image-new">
                            </a>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <a href="https://jsis.washington.edu/ellisoncenter" class="thumbnail" style="position:relative" target="_blank">
                                <img src="../Resources/Images/excellence/uw.png" alt="Ellison Center for Russian, East European & Central Asia Studies" class="sponsor-image-new">
                            </a>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <a href="https://siff.net" class="thumbnail" style="position:relative" target="_blank">
                                <img src="../Resources/Images/siff.png" alt="SIFF logo" class="sponsor-image-new">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>