<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail education-thumbnail">
                <div class="caption">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle caption-btn" type="button" id="heritage-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Education
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="heritage-dropdown">
                            <li role="menuitem"><a ui-sref="summer-camp">ARCS Summer Camp 2018</a></li>
                            <li role="menuitem"><a href="https://slavic.washington.edu/courses/2019/winter/romn/420/a" target="_blank">NEWS: Romanian Literature Course @University of Washington</a></li>
                            <li role="menuitem"><a ui-sref="education">Kids and Youth Ages 7-16</a></li>
                        </ul>
                    </div>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail film-thumbnail">
                <div class="caption">
                    <p><a ui-sref="film-festival" class="btn btn-primary caption-btn" role="button">Film Festival</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail stage-thumbnail">
                <div class="caption">
                    <p><a ui-sref="events({filterBy: 'Stage'})" class="btn btn-primary caption-btn" role="button">Stage Events</a></p>
                </div>
            </div>
        </div>
    </div>
</div>